<!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            ASSETS                 #####
    #####                                   ##### 
    #############################################
    
              -->

<bs-panel>
    <h2>Digitale Objekte</h2>

    <semantic-form new-subject-template for="https://www.enter.theninja.space/resources/DigitalObject/{{UUID}}"
        subject='[[urlParam "digiObj"]]' post-action='redirect' browser-persistence=false form-id='DigitalObject'
        fields="[[fieldDefinitions
             
                        ]]'">



        <semantic-form-errors></semantic-form-errors>
        <button name='submit' class='btn btn-default'>Create</button>
        <button name='reset' class='btn btn-default'>Reset</button>
    </semantic-form>



</bs-panel>