<!--
<bs-navbar>
    <bs-nav>
        <bs-nav-dropdown title="Dateneingabe">
            <bs-menu-item href=":DigitalApp">digitale Anwendung</bs-menu-item>
            <bs-menu-item href="/resource/Default:E65_Creation">Entwicklung</bs-menu-item>
        </bs-nav-dropdown>


    </bs-nav>
</bs-navbar>

<ol class="page-breadcrumb">
    <li><a href="/resource/:Home">Home
        </a> </li>
    <li><a href="/resource/:Start">Dateneingabe
        </a> </li>
    <li class="active">Digitale Anwendung</li>
</ol>
-->
<bs-panel>
    <h1>Digitale Anwendung</h1>
    <semantic-form new-subject-template='https://www.enter.theninja.space/resources/DigitalApp/{{UUID}}'
        subject='[[urlParam "app"]]' post-action='redirect' browser-persistence=false form-id='DigitalApp'
        fields="[[fieldDefinitions]]">

       
        <bs-tabs fixed-key="form" default-active-key="[[#if (urlParam " tab" )]][[urlParam "tab" ]][[else]]1[[/if]]">
            <!-- ############################################# ##### ##### ##### ##### ##### Kerninfo ##### ##### #####
            ############################################# -->
            <bs-tab event-key="1" title="Grundinformationen">
                <!--
    
    <semantic-form-hidden-input for="http://www.metaphacts.com/fieldDefinition/subjectRdfType"></semantic-form-hidden-input>
    -->
                <semantic-form-hidden-input for="http://www.metaphacts.com/fieldDefinition/digitalAppRdfType">
                </semantic-form-hidden-input>
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/digitalAppTitle">
                </semantic-form-text-input>
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/shortTitle">
                </semantic-form-text-input>
                <semantic-form-checklist-input for="http://www.metaphacts.com/fieldDefinition/hasTechnologyType">
                </semantic-form-checklist-input>
                <semantic-form-checklist-input for="http://www.metaphacts.com/fieldDefinition/hasMaturityLevel">
                </semantic-form-checklist-input>
                <semantic-form-checklist-input for="http://www.metaphacts.com/fieldDefinition/hasAreaOfUse">
                </semantic-form-checklist-input>


                <h3>Sourcecode der digitalen Anwendung</h3>
                <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/codeIsDocumentedIn"
                    new-subject-template="https://www.enter.theninja.space/resources/E31_Document/{{UUID}}"
                    fields="[[fieldDefinitions]]">
                    <h4>Link zu GitHub</h4>
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
                    </semantic-form-text-input>

                </semantic-form-composite-input>
                <h3>Gesamtentwicklungszeitraum</h3>
                <p>Geben Sie den Beginn des Zeitraums an. Wenn Sie das taggenaue Datum nicht angeben können, so
                    schätzen Sie es.
                    Es kommt vor allem darauf an eine ungefähre Einschätzung von der Dauer des Entwicklungsprozesses
                    zu geben.
                    Dies soll es denjenigen helfen, die selbst die Entwicklung einer digitalen Anwendung dieser Art
                    planen und
                    ihnen die Möglichkeit geben Zeiten realistischer zu planen.</p>
                <semantic-form-datetime-input for="http://www.metaphacts.com/fieldDefinition/beginDate"></semantic-form-datetime-input>
                <semantic-form-datetime-input for="http://www.metaphacts.com/fieldDefinition/endDate"></semantic-form-datetime-input>
       
                <!-- 
                    <h3>Abbildungen</h3>
                    Image upload siehe: https://www.enter.theninja.space/resource/Help:SemanticFormAdvancedInputs 
                habe schon ein Feld für die Abbildung erstellt: .../appImage
                -->
                <!--
        
                <semantic-form-file-input
                for='http://www.metaphacts.com/fieldDefinition/appImage'
                placeholder='Please drag&drop your image here'
                accept-pattern='image/*'
                generate-iri-query='
                  SELECT ?resourceIri WHERE {
                    BIND(URI(CONCAT(
                      STR(<Default:>), "uploaded-file-", ?__fileName__)
                    ) as ?resourceIri)
                  }
                '
                resource-query='
                  PREFIX mp: <http://www.metaphacts.com/ontologies/platform#>
                  CONSTRUCT {
                    ?__resourceIri__ a mp:File.
                    ?__resourceIri__ mp:fileName ?__fileName__.
                    ?__resourceIri__ mp:mediaType ?__mediaType__.
                  } WHERE {}
                '
                name-predicate-iri='http://www.metaphacts.com/ontologies/platform#fileName'
                media-type-predicate-iri='http://www.metaphacts.com/ontologies/platform#mediaType'
                    storage='{file-storage-id}'
                    temp-storage='{temp-file-storage-id}'>
                </semantic-form-file-input>
            
                      
    -->
</bs-tab>
                <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            Vermittlung            #####
    #####                                   ##### 
    #############################################
    
                
                -->

           
            <bs-tab event-key="2" title="Vermittlungskonzept">
                <h2>Vermittlungskonzept</h2>
                <p>Das Vermittlungskonzept beschreibt den Inhalt/das Thema der digitalen Anwendung und wie dieser/dieses
                    mittels eines Formates umgesetzt ist.
                    Es beschreibt weiterhin angesprochene Nutzer-/Besuchergruppen und wie die digitale Anwendung deren
                    Bedürfnisse adressiert.</p>
                    <p>Nutzen Sie folgendes Formular, um Entwicklungsschritte zu beschreiben. Speichern Sie vorher!</p>
                    <semantic-link uri=':EducationalConcept' urlqueryparam-app='[[this]]'>
                        <button>Edit</button>
                    </semantic-link>
            </bs-tab>
 <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            ENTWICKLUNG            #####
    #####                                   ##### 
    #############################################
    
                -->         
            <bs-tab event-key="3" title="Entwicklungsschritte">
                <!--
                   <semantic-form-composite-input for="hasDevelopmentTimeSpan"></semantic-form-composite-input> -->
                   

                   <h2>Entwicklungsschritte</h2>
                   <p>Nutzen Sie folgendes Formular, um Entwicklungsschritte zu beschreiben. Speichern Sie vorher!</p>
                   <semantic-link uri=':E65_Creation' urlqueryparam-app='[[this]]'>
                       <button>Edit</button>
                   </semantic-link>
                   </bs-tab>
          
            <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            Betrieb                #####
    #####                                   ##### 
    #############################################
    
                
                -->
                <bs-tab event-key="4" title="Betrieb, Betreuung, Vermarktung">
                        <h2>Betreuung</h2>
                        <p>Für digitale Anwendungen, wie z.B. Virtual Reality Formate, wird Betreuung für die Nutzer benötigt.
                            Wenn die beschriebene Anwendung keine Betreuung erfordert, dann entfernen Sie die Felder.</p>
                        <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/visitorCare">
                        </semantic-form-text-input>
                        <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/extentOfUsage">
                        </semantic-form-text-input>
        
        
                        <h2>Betriebskonzept</h2>
                        <p>
                            Das Betriebskonzept gibt Hinweise zum Management rund um den aktiven Betrieb im Museum.
                        </p>
                        <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in"
                            new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}"
                            fields="[[fieldDefinitions]]">
                            <h3>Link zu Zenodo</h3>
                            <p>Geben Sie hier den Link zum Dokument in Zenodo an. Bei Zenodo wird Ihnen eine stabile URL
                                angezeigt, die Sie hier verwenden sollten. Dort befindet sich auch die
                                bibliographische Angabe, die Sie hier verwenden sollten.</p>
                            <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
                            </semantic-form-text-input>
                            <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/bibliographicCitation"
                                multiline=true>
                            </semantic-form-text-input>
                        </semantic-form-composite-input>
                        <h2>Vermarktung</h2>
                        <semantic-form-tree-picker-input for="http://www.metaphacts.com/fieldDefinition/hasTouchpoints">
                            <semantic-form new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}"
                                fields="[[fieldDefinitions
                inSchemeTouchpoints='http://www.metaphacts.com/fieldDefinition/inSchemeTouchpoints'
                prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                ]]">
                                <semantic-form-hidden-input for="inSchemeTouchpoints" default-value='skos:Concept'>
                                </semantic-form-hidden-input>
                                <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                                </semantic-form-text-input>
        
                                <semantic-form-errors></semantic-form-errors>
                                <button name='submit' class='btn btn-default'>Create</button>
                                <button name='reset' class='btn btn-default'>Reset</button>
        
                            </semantic-form>
                        </semantic-form-tree-picker-input>
        
                    </bs-tab>
            <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            Geräte                 #####
    #####                                   ##### 
    #############################################
    
                
                -->
            <bs-tab event-key="5" title="Geräte und Software">
                <h2>Ausspielgeräte, periphere Hardware und ihre Software</h2>
                <p>Für den aktive Betrieb der digitalen Anwendungen werden Ausspielgeräte benötigt. Bestimmte
                    Anwendungen
                    können nur auf speziell konfigurierten Geräten genutzt werden, wie bspw. eine AR Anwendung für die
                    Hololens. Hier können Sie alle Spezifika der Geräte, ihrer Peripherie und auch der benötigten
                    Software eingeben.</p>

                <h3>Ausspielgeräte</h3>
                <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/usesOutputDevice"
                    new-subject-template="https://www.enter.theninja.space/resources/OutputDevice/{{title}}" fields="[[fieldDefinitions 
                        hasOutputDeviceType='http://www.metaphacts.com/fieldDefinition/hasOutputDeviceType'
                        title='http://www.metaphacts.com/fieldDefinition/toolTitle'
                        modelNr='http://www.metaphacts.com/fieldDefinition/modelNr'
                        needsPermanentInternetAccess='http://www.metaphacts.com/fieldDefinition/needsPermanentInternetAccess'
                        requiredProcessor='http://www.metaphacts.com/fieldDefinition/requiredProcessor'
                        requiredRAM='http://www.metaphacts.com/fieldDefinition/requiredRAM'
                        requiredHardDriveSpace='http://www.metaphacts.com/fieldDefinition/requiredHardDriveSpace'
                        requiredGraphicsCard='http://www.metaphacts.com/fieldDefinition/requiredGraphicsCard'
                        ]]">


                    <semantic-form-tree-picker-input for="hasOutputDeviceType">
                        <semantic-form
                            new-subject-template="https://www.enter.theninja.space/resources/terms/{{prefLabel}}"
                            fields="[[fieldDefinitions
                                inSchemeOutputDeviceType='http://www.metaphacts.com/fieldDefinition/inSchemeOutputDeviceType'
                                prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                                altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                                broaderOutputDevice='http://www.metaphacts.com/fieldDefinition/broaderOutputDevice'
                                ]]">
                            <semantic-form-hidden-input for="inSchemeOutputDeviceType" default-value='skos:Concept'>
                            </semantic-form-hidden-input>
                            <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                            </semantic-form-text-input>
                            <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                            </semantic-form-text-input>
                            <semantic-form-tree-picker-input for="broaderOutputDevice">
                            </semantic-form-tree-picker-input>
                            <!-- Wählen Sie einen Begriff aus, der dem soeben erstellten Begriff übergeordnet ist. Sollte kein passender Oberbegriff vorhanden sein, so erstellen Sie zunächst einen solchen bevor Sie den untergeordneten Begriff erstellen. In einem nächsten Schritt können Sie dann den gewünschten untergeordneten Begriff erstellen und dem passenden Oberbegriff zuordnen.-->

                            <semantic-form-errors></semantic-form-errors>
                            <button name='submit' class='btn btn-default'>Create</button>
                            <button name='reset' class='btn btn-default'>Reset</button>

                        </semantic-form>
                    </semantic-form-tree-picker-input>

                    <semantic-form-text-input for="title">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="modelNr">
                    </semantic-form-text-input>
                    <semantic-form-checkbox-input for="needsPermanentInternetAccess">
                    </semantic-form-checkbox-input>

                    <h4>Mindestanforderungen an die Hardware</h4>
                    <semantic-form-text-input for="requiredProcessor">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredRAM">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredHardDriveSpace">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredGraphicsCard">
                    </semantic-form-text-input>

                </semantic-form-composite-input>

                <h3>benötigte periphere Hardware</h3>
                <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/usesHardware"
                    new-subject-template="https://www.enter.theninja.space/resources/Hardware/{{title}}" fields="[[fieldDefinitions 
                        title='http://www.metaphacts.com/fieldDefinition/toolTitle'
                        modelNr='http://www.metaphacts.com/fieldDefinition/modelNr'
                        needsPermanentInternetAccess='http://www.metaphacts.com/fieldDefinition/needsPermanentInternetAccess'
                        requiredProcessor='http://www.metaphacts.com/fieldDefinition/requiredProcessor'
                        requiredRAM='http://www.metaphacts.com/fieldDefinition/requiredRAM'
                        requiredHardDriveSpace='http://www.metaphacts.com/fieldDefinition/requiredHardDriveSpace'
                        requiredGraphicsCard='http://www.metaphacts.com/fieldDefinition/requiredGraphicsCard'
                        ]]">

                    <semantic-form-text-input for="title">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="modelNr">
                    </semantic-form-text-input>

                    <h4>Mindestanforderungen</h4>
                    <semantic-form-text-input for="requiredProcessor">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredRAM">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredHardDriveSpace">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredGraphicsCard">
                    </semantic-form-text-input>

                </semantic-form-composite-input>

                <h3>benötigte Software</h3>
                <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/usesSoftware"
                    new-subject-template for="https://www.enter.theninja.space/resources/Software/{{title}}" fields="[[fieldDefinitions 
                        title='http://www.metaphacts.com/fieldDefinition/toolTitle'
                        version='http://www.metaphacts.com/fieldDefinition/version'
                        hasSoftwareType='http://www.metaphacts.com/fieldDefinition/hasSoftwareType'                        
                        ]]">
                    <semantic-form-text-input for="title">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="version">
                    </semantic-form-text-input>
                    <semantic-form-checklist-input for="hasSoftwareType" type="radio">
                    </semantic-form-checklist-input>

                </semantic-form-composite-input>
            </bs-tab>
           
           
  
            
            <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            BEFORSCHUNG            #####
    #####                                   ##### 
    #############################################
    
                -->
            <bs-tab event-key="6" title="Beforschung">
                <h2>begeleitende Forschung</h2>
                <p>Beschreiben Sie hier alles zur Beforschung und Untersuchung der digitalen Anwendung.</p>
                <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/wasResearchedBy"
                    new-subject-template='https://www.enter.theninja.space/resources/ResearchActivity/{{UUID}}' fields="[[fieldDefinitions
                                descriptionOfResearchAim='http://www.metaphacts.com/fieldDefinition/descriptionOfResearchAim'
                                hasGeneratedTool='http://www.metaphacts.com/fieldDefinition/hasGeneratedTool'
                                researchIsDocumentedIn='http://www.metaphacts.com/fieldDefinition/researchIsDocumentedIn'
                                fallsWithinResearchActivity='http://www.metaphacts.com/fieldDefinition/fallsWithinResearchActivity'
                                ]]">


                    <semantic-form-text-input for="descriptionOfResearchAim" multiline=true>
                    </semantic-form-text-input>

                    <h2>Untersuchungssetting</h2>
                    <p> Die unterschiedlichen Testsituationen bzw. Untersuchungseinheiten sind jeder für sich zu
                        beschreiben.
                        Unterschieden werden die einzelnen Schritte anhand der jeweils genutzen Methoden und der
                        unterschiedlichen
                        Testorte/-anlässe.
                    </p>

                    <semantic-form-composite-input for="fallsWithinResearchActivity"
                        new-subject-template="https://www.enter.theninja.space/resources/ResearchActivity/{{UUID}}"
                        fields="[[fieldDefinitions
                                    hasResearchMethod='http://www.metaphacts.com/fieldDefinition/hasResearchMethod'
                                    hasExperimenteeType='http://www.metaphacts.com/fieldDefinition/hasExperimenteeType'
                                    eventTitle='http://www.metaphacts.com/fieldDefinition/eventTitle'
                                    researchLocation='http://www.metaphacts.com/fieldDefinition/researchLocation'
                                    descriptionOfResearchSetting='http://www.metaphacts.com/fieldDefinition/descriptionOfResearchSetting'
                                    beginDate='http://www.metaphacts.com/fieldDefinition/beginDate'
                                    endDate='http://www.metaphacts.com/fieldDefinition/endDate'
                                    usedHardware='http://www.metaphacts.com/fieldDefinition/usedHardware'
                                    usedSoftware='http://www.metaphacts.com/fieldDefinition/usedSoftware'
                                    usedTool='http://www.metaphacts.com/fieldDefinition/usedTool'
                                    ]]">
                        <semantic-form-tree-picker-input for="hasResearchMethod">
                            <semantic-form
                                new-subject-template="https://www.enter.theninja.space/resources/terms/{{prefLabel}}"
                                fields="[[fieldDefinitions
                                                inSchemeResearchMethod='http://www.metaphacts.com/fieldDefinition/inSchemeResearchMethod'    
                                                prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                                                altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                                                broaderResearchMethod='http://www.metaphacts.com/fieldDefinition/broaderResearchMethod'                
                                                    ]]">
                                <semantic-form-hidden-input for="inSchemeResearchMethod" default-value='skos:Concept'>
                                </semantic-form-hidden-input>
                                <semantic-form-text-input for="prefLabel" languages='["de", "en"]'
                                    require-language=true>
                                </semantic-form-text-input>
                                <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                                </semantic-form-text-input>
                                <semantic-form-tree-picker-input for="broaderResearchMethod">
                                </semantic-form-tree-picker-input>

                                <semantic-form-errors></semantic-form-errors>
                                <button name='submit' class='btn btn-default'>Create</button>
                                <button name='reset' class='btn btn-default'>Reset</button>
                            </semantic-form>
                        </semantic-form-tree-picker-input>

                        <semantic-form-tree-picker-input for="hasExperimenteeType">
                            <semantic-form
                                new-subject-template="https://www.enter.theninja.space/resources/terms/{{prefLabel}}"
                                fields="[[fieldDefinitions
                                            inSchemeExperimenteeType='http://www.metaphacts.com/fieldDefinition/inSchemeExperimenteeType'    
                                            prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                                            altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                                                ]]">
                                <semantic-form-hidden-input for="inSchemeExperimenteeType" default-value='skos:Concept'>
                                </semantic-form-hidden-input>
                                <semantic-form-text-input for="prefLabel" languages='["de", "en"]'
                                    require-language=true>
                                </semantic-form-text-input>
                                <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                                </semantic-form-text-input>

                                <semantic-form-errors></semantic-form-errors>
                                <button name='submit' class='btn btn-default'>Create</button>
                                <button name='reset' class='btn btn-default'>Reset</button>
                            </semantic-form>
                        </semantic-form-tree-picker-input>


                        <h3>Untersuchungsanlass und Durchführung</h3>

                        <semantic-form-text-input for="eventTitle"></semantic-form-text-input>

                        <semantic-form-text-input for="researchLocation"></semantic-form-text-input>
                        <semantic-form-text-input for="descriptionOfResearchSetting" multiline="true">
                        </semantic-form-text-input>
                        <h3>Untersuchungszeitraum</h3>
                        <p>Wann fand die Untersuchung statt?</p>
                        <semantic-form-datetime-input for="beginDate"></semantic-form-datetime-input>
                        <semantic-form-datetime-input for="endDate"></semantic-form-datetime-input>


                        <h3>genutzte Tools - Hardware, Software und Hilfsmittel</h3>
                        <p>Geben Sie an, welche Hilfsmittel, Hardware/Geräte, oder welche Software für die Untersuchung
                            verwendet wurden.</p>

                        <semantic-form-composite-input for="usedHardware"
                            new-subject-template="https://www.enter.theninja.space/resources/Hardware/{{toolTitle}}"
                            fields="[[fieldDefinitions 
                        toolTitle='http://www.metaphacts.com/fieldDefinition/toolTitle'
                        modelNr='http://www.metaphacts.com/fieldDefinition/modelNr'
                        hasToolType='http://www.metaphacts.com/fieldDefinition/hasToolType'
                        requiredProcessor='http://www.metaphacts.com/fieldDefinition/requiredProcessor'
                        requiredRAM='http://www.metaphacts.com/fieldDefinition/requiredRAM'
                        requiredHardDriveSpace='http://www.metaphacts.com/fieldDefinition/requiredHardDriveSpace'
                        requiredGraphicsCard='http://www.metaphacts.com/fieldDefinition/requiredGraphicsCard'
                        ]]">
                            <semantic-form-text-input for="toolTitle">
                            </semantic-form-text-input>
                            <semantic-form-text-input for="modelNr">
                            </semantic-form-text-input>

                            <semantic-form-tree-picker-input for="hasToolType">
                                <semantic-form
                                    new-subject-template="https://www.enter.theninja.space/resources/terms/{{prefLabel}}"
                                    fields="[[fieldDefinitions
                                                inSchemeToolType='http://www.metaphacts.com/fieldDefinition/inSchemeToolType'    
                                                prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                                                altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                                                broaderToolType='http://www.metaphacts.com/fieldDefinition/broaderToolType'                  
                                                    ]]">

                                    <semantic-form-hidden-input for="inSchemeToolType" default-value='skos:Concept'>
                                    </semantic-form-hidden-input>
                                    <semantic-form-text-input for="prefLabel" languages='["de", "en"]'
                                        require-language=true>
                                    </semantic-form-text-input>
                                    <semantic-form-text-input for="altLabel" languages='["de", "en"]'
                                        require-language=true>
                                    </semantic-form-text-input>
                                    <semantic-form-tree-picker-input for="broaderToolType">
                                    </semantic-form-tree-picker-input>

                                    <semantic-form-errors></semantic-form-errors>
                                    <button name='submit' class='btn btn-default'>Create</button>
                                    <button name='reset' class='btn btn-default'>Reset</button>
                                </semantic-form>
                            </semantic-form-tree-picker-input>

                            <h4>Mindestanforderungen</h4>
                            <semantic-form-text-input for="requiredProcessor">
                            </semantic-form-text-input>
                            <semantic-form-text-input for="requiredRAM">
                            </semantic-form-text-input>
                            <semantic-form-text-input for="requiredHardDriveSpace">
                            </semantic-form-text-input>
                            <semantic-form-text-input for="requiredGraphicsCard">
                            </semantic-form-text-input>



                        </semantic-form-composite-input>

                        <semantic-form-composite-input for="usedSoftware"
                            new-subject-template="https://www.enter.theninja.space/resources/Software/{{toolTitle}}"
                            fields="[[fieldDefinitions 
                                    toolTitle='http://www.metaphacts.com/fieldDefinition/toolTitle'
                                    version='http://www.metaphacts.com/fieldDefinition/version'
                                    hasSoftwareType='http://www.metaphacts.com/fieldDefinition/hasSoftwareType'
                                    softwareIsDocumentedIn='http://www.metaphacts.com/fieldDefinition/softwareIsDocumentedIn'
                                    ]]">
                            <semantic-form-text-input for="toolTitle">
                            </semantic-form-text-input>
                            <semantic-form-text-input for="version">
                            </semantic-form-text-input>
                            <semantic-form-select-input for="hasSoftwareType">
                            </semantic-form-select-input>
                            <semantic-form-composite-input for="softwareIsDocumentedIn"
                                new-subject-template="https://www.enter.theninja.space/resources/E31_Document/{{documentTitle}}"
                                fields="[[fieldDefinitions]]">
                                <h4>Quelle der Software</h4>
                                <semantic-form-hidden-input
                                    for="http://www.metaphacts.com/fieldDefinition/documentRdfType">
                                </semantic-form-hidden-input>
                                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/documentTitle">
                                </semantic-form-text-input>
                                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
                                </semantic-form-text-input>

                            </semantic-form-composite-input>


                        </semantic-form-composite-input>

                        <semantic-form-composite-input for="usedTool"
                            new-subject-template="https://www.enter.theninja.space/resources/Tool/{{toolTitle}" fields="[[fieldDefinitions 
                                    toolTitle='http://www.metaphacts.com/fieldDefinition/toolTitle'
                                    hasToolType='http://www.metaphacts.com/fieldDefinition/hasToolType'
                                    toolIsDocumentedIn='http://www.metaphacts.com/fieldDefinition/toolIsDocumentedIn'
                                    ]]">
                        
                                            <semantic-form-text-input for="toolTitle">
                                            </semantic-form-text-input>
                        
                                            <semantic-form-tree-picker-input for="hasToolType">
                                                <semantic-form
                                                    new-subject-template="https://www.enter.theninja.space/resources/terms/{{prefLabel}}" fields="[[fieldDefinitions
                                                inSchemeToolType='http://www.metaphacts.com/fieldDefinition/inSchemeToolType'    
                                                prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                                                altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                                                broaderToolType='http://www.metaphacts.com/fieldDefinition/broaderToolType'                  
                                                    ]]">
                            <semantic-form-hidden-input for="inSchemeToolType" default-value='skos:Concept'>
                            </semantic-form-hidden-input>
                            <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                            </semantic-form-text-input>
                            <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                            </semantic-form-text-input>
                            <semantic-form-tree-picker-input for="broaderToolType"></semantic-form-tree-picker-input>

                            <semantic-form-errors></semantic-form-errors>
                            <button name='submit' class='btn btn-default'>Create</button>
                            <button name='reset' class='btn btn-default'>Reset</button>
    </semantic-form>
    </semantic-form-tree-picker-input>

    <semantic-form-composite-input for="toolIsDocumentedIn"
        new-subject-template="https://www.enter.theninja.space/resources/E31_Document/{{documentTitle}}"
        fields="[[fieldDefinitions]]">
        <h4>Quelle des Hilfsmittels</h4>
        <semantic-form-hidden-input for="http://www.metaphacts.com/fieldDefinition/documentRdfType">
        </semantic-form-hidden-input>
        <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/documentTitle">
        </semantic-form-text-input>
        <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/bibliographicCitation" multiline=true>
        </semantic-form-text-input>
        <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
        </semantic-form-text-input>

    </semantic-form-composite-input>
    </semantic-form-composite-input>
    </semantic-form-composite-input>
    <h2>entstandene Hilfsmittel</h2>
    <p>Im Rahmen von Testings, Befragungen oder Beobachtungen entstehen häufig Vorlagen wie z.B. Frage- oder
        Beobachtungsbögen. Geben Sie hier an welche Hilfsmittel während der begleitenden Forschung der digitalen
        Anwendung entstanden sind.</p>
    <semantic-form-composite-input for="hasGeneratedTool"
        new-subject-template="https://www.enter.theninja.space/resources/Tool/{{toolTitle}" fields="[[fieldDefinitions 
                                toolTitle='http://www.metaphacts.com/fieldDefinition/toolTitle'
                                hasToolType='http://www.metaphacts.com/fieldDefinition/hasToolType'
                                toolIsDocumentedIn='http://www.metaphacts.com/fieldDefinition/toolIsDocumentedIn'
                                ]]">
                                        <semantic-form-text-input for="toolTitle">
                                        </semantic-form-text-input>
                        
                                        <semantic-form-tree-picker-input for="hasToolType">
                                            <semantic-form
                                                new-subject-template="https://www.enter.theninja.space/resources/terms/{{prefLabel}}" fields="[[fieldDefinitions
                                            inSchemeToolType='http://www.metaphacts.com/fieldDefinition/inSchemeToolType'    
                                            prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                                            altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                                            broaderToolType='http://www.metaphacts.com/fieldDefinition/broaderToolType'                  
                                                ]]">
        <semantic-form-hidden-input for="inSchemeToolType" default-value='skos:Concept'>
        </semantic-form-hidden-input>
        <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
        </semantic-form-text-input>
        <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
        </semantic-form-text-input>
        <semantic-form-tree-picker-input for="broaderToolType"></semantic-form-tree-picker-input>

        <semantic-form-errors></semantic-form-errors>
        <button name='submit' class='btn btn-default'>Create</button>
        <button name='reset' class='btn btn-default'>Reset</button>
        </semantic-form>
        </semantic-form-tree-picker-input>

        <semantic-form-composite-input for="toolIsDocumentedIn"
            new-subject-template="https://www.enter.theninja.space/resources/E31_Document/{{documentTitle}}"
            fields="[[fieldDefinitions]]">
            <h4>Quelle des Hilfsmittels</h4>
            <semantic-form-hidden-input for="http://www.metaphacts.com/fieldDefinition/documentRdfType">
            </semantic-form-hidden-input>
            <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/documentTitle">
            </semantic-form-text-input>
            <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
            </semantic-form-text-input>
            <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/doi">
            </semantic-form-text-input>
            <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/bibliographicCitation"
                multiline=true>
            </semantic-form-text-input>

        </semantic-form-composite-input>

    </semantic-form-composite-input>
    <h2>Erkenntnisse</h2>
    <p>Geben Sie hier an, welche Publikationen aus der begleitenden Forschung hervorgegangen sind.</p>
    <semantic-form-composite-input for='researchIsDocumentedIn'
        new-subject-template="https://www.enter.theninja.space/resources/E31_Document/{{documentTitle}}" fields="[[fieldDefinitions
                    documentRdfType='http://www.metaphacts.com/fieldDefinition/documentRdfType'   
                    documentTitle='http://www.metaphacts.com/fieldDefinition/documentTitle'
                    url='http://www.metaphacts.com/fieldDefinition/url'
                                            doi='http://www.metaphacts.com/fieldDefinition/doi'
                                            bibliographicCitation='http://www.metaphacts.com/fieldDefinition/bibliographicCitation'
                                            ]]">
        <semantic-form-hidden-input for="documentRdfType"></semantic-form-hidden-input>
        <semantic-form-text-input for=" documentTitle"></semantic-form-text-input>
        <semantic-form-text-input for="url">
        </semantic-form-text-input>
        <semantic-form-text-input for="doi">
        </semantic-form-text-input>
        <semantic-form-text-input for="bibliographicCitation" multiline=true></semantic-form-text-input>

        <!--
                                            <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/license">
                                            </semantic-form-text-input>
                                            -->
    </semantic-form-composite-input>


    </semantic-form-composite-input>

    </bs-tab>

    <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            Projektkontext         #####
    #####                                   ##### 
    #############################################
    
                -->
    <bs-tab event-key="7" title="Projektkontext">
        <h2>Projekt und Beteiligte</h2>
        <p>In welchem Kontext ist die digitale Anwendung entstanden? Gab es ein, bspw. mit Drittmitteln gefördertes,
            Projekt,
            dass die Entwicklung der Anwendung ermöglicht hat? Welche Institutionen waren am Entstehungsprozess der
            digitalen Anwendung beteiligt und in welcher Rolle? Ist das Projekt Bestandteil eines größeren
            (Verbund-)Projektes?</p>

        <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/wasDevelopedBy"
            new-subject-template="https://www.enter.theninja.space/resources/Project/{{projectTitle}}" fields="[[fieldDefinitions
                                   projectTitle='http://www.metaphacts.com/fieldDefinition/projectTitle'
                                   beginDate='http://www.metaphacts.com/fieldDefinition/beginDate'
                                   endDate='http://www.metaphacts.com/fieldDefinition/endDate'
                                   hasInsitutionalSupport='http://www.metaphacts.com/fieldDefinition/hasInsitutionalSupport'
                                   hasEmployee='http://www.metaphacts.com/fieldDefinition/hasEmployee'
                                   wasPartOfProject='http://www.metaphacts.com/fieldDefinition/wasPartOfProject'
                                   wasFundedBy='http://www.metaphacts.com/fieldDefinition/wasFundedBy'
                                   ]]">

            <semantic-form-text-input for="projectTitle"></semantic-form-text-input>

            <h3>Gesamtlaufzeit</h3>
            <semantic-form-datetime-input for="beginDate"></semantic-form-datetime-input>
            <semantic-form-datetime-input for="endDate"></semantic-form-datetime-input>

            <h3>Projektkontext</h3>
            <!--
    Bei institutionlSupport im Field Catalog noch as ASK Pattern nachtragen! Suche funktioniert noch nicht.
        -->
            <semantic-form-autocomplete-input for="hasInsitutionalSupport">
                <semantic-form new-subject-template="https://www.enter.theninja.space/resources/E74_Group/{{legalName}}"
                    fields="[[fieldDefinitions
                    legalName='http://www.metaphacts.com/fieldDefinition/legalName'
                    ]]">
                    <semantic-form-text-input for="legalName"></semantic-form-text-input>
                    <semantic-form-errors></semantic-form-errors>
                    <button name='submit' class='btn btn-default'>Create</button>
                    <button name='reset' class='btn btn-default'>Reset</button>
                </semantic-form>
            </semantic-form-autocomplete-input>
            <semantic-form-autocomplete-input for="wasPartOfProject">
            </semantic-form-autocomplete-input>

            <h3>Projektmitarbeiter und extern Beteiligte</h3>
            <semantic-form-composite-input for="hasEmployee"
                new-subject-template="https://www.enter.theninja.space/resources/E21_Person/{{UUID}}" fields="[[fieldDefinitions
                    givenName='http://www.metaphacts.com/fieldDefinition/givenName'
                    familyName='http://www.metaphacts.com/fieldDefinition/familyName'
                    P14.1_in_the_role_of='http://www.metaphacts.com/fieldDefinition/P14.1_in_the_role_of'
                    P107i_is_current_or_former_member_of='http://www.metaphacts.com/fieldDefinition/P107i_is_current_or_former_member_of'
                    ]]">
                <semantic-form-text-input for="givenName"></semantic-form-text-input>
                <semantic-form-text-input for="familyName"></semantic-form-text-input>
                <semantic-form-tree-picker-input for="P14.1_in_the_role_of">
                    <semantic-form new-subject-template="https://www.enter.theninja.space/resources/terms/{{prefLabel}}"
                        fields="[[fieldDefinitions
                        inSchemeActorRole='http://www.metaphacts.com/fieldDefinition/inSchemeActorRole'    
                        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                        altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'                                          
                            ]]">
                        <semantic-form-hidden-input for="inSchemeActorRole" default-value='skos:Concept'>
                        </semantic-form-hidden-input>
                        <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                        </semantic-form-text-input>
                        <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                        </semantic-form-text-input>

                        <semantic-form-errors></semantic-form-errors>
                        <button name='submit' class='btn btn-default'>Create</button>
                        <button name='reset' class='btn btn-default'>Reset</button>
                    </semantic-form>
                </semantic-form-tree-picker-input>
                <h4>institutionelle Zugehörigkeit</h4>
                <!--
    Bei P107i im Field Catalog noch as ASK Pattern nachtragen! Suche funktioniert noch nicht.
        -->
                <semantic-form-autocomplete-input for="P107i_is_current_or_former_member_of">
                    <semantic-form
                        new-subject-template="https://www.enter.theninja.space/resources/E74_Group/{{legalName}}"
                        fields="[[fieldDefinitions
                                       legalName='http://www.metaphacts.com/fieldDefinition/legalName'
                                       
                                       ]]">
                        <semantic-form-text-input for="legalName"></semantic-form-text-input>
                        <!--
                            <semantic-form-autocomplete-input for="P74_has_current_or_former_residence"></semantic-form-autocomplete-input>
                           
                                           Hierfür den Geonames Datensatz hinterlegen! Nein, das ist doof. Besser wäre es, die API anzusprechen damit der 16GB Datensatz nich tgespeichert werden muss.
                                            Aber wie baut man die Query hier ein? Siehe Hilfe: https://www.enter.theninja.space/resource/Help:WorkingWithData
                                       
                                        <semantic-form-tree-picker-input for="P74_has_current_or_former_residence">
                                        </semantic-form-tree-picker-input>
                        -->
                        <semantic-form-errors></semantic-form-errors>
                        <button name='submit' class='btn btn-default'>Create</button>
                        <button name='reset' class='btn btn-default'>Reset</button>
                    </semantic-form>
                </semantic-form-autocomplete-input>
            </semantic-form-composite-input>
            <h2>Förderung</h2>
            <!--
    Bei wasFundedBy im Field Catalog noch as ASK Pattern nachtragen! Suche funktioniert noch nicht.
        -->
            <semantic-form-autocomplete-input for="wasFundedBy">
                <semantic-form new-subject-template="https://www.enter.theninja.space/resources/E74_Group/{{legalName}}"
                    fields="[[fieldDefinitions
                       legalName='http://www.metaphacts.com/fieldDefinition/legalName'
                       
                       ]]">
                    <semantic-form-text-input for="legalName"></semantic-form-text-input>
                    <!--
            <semantic-form-autocomplete-input for="P74_has_current_or_former_residence"></semantic-form-autocomplete-input>
           
                           Hierfür den Geonames Datensatz hinterlegen! Nein, das ist doof. Besser wäre es, die API anzusprechen damit der 16GB Datensatz nich tgespeichert werden muss.
                            Aber wie baut man die Query hier ein? Siehe Hilfe: https://www.enter.theninja.space/resource/Help:WorkingWithData
                       
                        <semantic-form-tree-picker-input for="P74_has_current_or_former_residence">
                        </semantic-form-tree-picker-input>
        -->
                    <semantic-form-errors></semantic-form-errors>
                    <button name='submit' class='btn btn-default'>Create</button>
                    <button name='reset' class='btn btn-default'>Reset</button>
                </semantic-form>
            </semantic-form-autocomplete-input>
        </semantic-form-composite-input>





    </bs-tab>
    <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            ASSETS                 #####
    #####                                   ##### 
    #############################################
    
                
        <bs-tab event-key="8" title="Assets">
            <h2>Digitale Objekte</h2>
          
                        <semantic-form-select-input
                            for="http://www.researchspace.org/instances/fields/userGeneratedContentType">
                        </semantic-form-select-input>
                        -->


    <semantic-form-errors></semantic-form-errors>
    <semantic-form-recover-notification></semantic-form-recover-notification>
    <button name="submit" class="btn btn-default">Save</button>
    <button name="reset" class="btn btn-default">Reset</button>
    <!--
                     <button name="save-state">Export</button>
              <button name="load-state">Import</button>
                -->
    </bs-tabs>
    </semantic-form>
</bs-panel>