<!--
<bs-navbar>
    <bs-nav>
        <bs-nav-dropdown title="Dateneingabe">
            <bs-menu-item href=":DigitalApp">digitale Anwendung</bs-menu-item>
            <bs-menu-item href="/resource/Default:E65_Creation">Entwicklung</bs-menu-item>
        </bs-nav-dropdown>


    </bs-nav>
</bs-navbar>

<ol class="page-breadcrumb">
    <li><a href="/resource/:Home">Home
        </a> </li>
    <li><a href="/resource/:Start">Dateneingabe
        </a> </li>
    <li class="active">Digitale Anwendung</li>
</ol>
-->
<bs-panel>
    <h1>Digitale Anwendung</h1>
    <semantic-form new-subject-template='https://www.enter.theninja.space/resources/DigitalApp/{{digitalAppTitle}}'
        subject='[[urlParam "app"]]' post-action='redirect' browser-persistence=false form-id='DigitalApp'
        fields="[[fieldDefinitions]]">

       
        <bs-tabs fixed-key="form" default-active-key="[[#if (urlParam " tab" )]][[urlParam "tab" ]][[else]]1[[/if]]">
            <!-- ############################################# ##### ##### ##### ##### ##### Kerninfo ##### ##### #####
            ############################################# -->
            <bs-tab event-key="1" title="Grundinformationen">
                <!--
    
    <semantic-form-hidden-input for="http://www.metaphacts.com/fieldDefinition/subjectRdfType"></semantic-form-hidden-input>
    -->
                <semantic-form-hidden-input for="http://www.metaphacts.com/fieldDefinition/digitalAppRdfType">
                </semantic-form-hidden-input>
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/digitalAppTitle">
                </semantic-form-text-input>
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/shortTitle">
                </semantic-form-text-input>
                <semantic-form-checklist-input for="http://www.metaphacts.com/fieldDefinition/hasTechnologyType">
                </semantic-form-checklist-input>
                <semantic-form-checklist-input for="http://www.metaphacts.com/fieldDefinition/hasMaturityLevel">
                </semantic-form-checklist-input>
                <semantic-form-checklist-input for="http://www.metaphacts.com/fieldDefinition/hasAreaOfUse">
                </semantic-form-checklist-input>


                <h3>Sourcecode der digitalen Anwendung</h3>
                <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/codeIsDocumentedIn"
                    new-subject-template="https://www.enter.theninja.space/resources/E31_Document/{{UUID}}"
                    fields="[[fieldDefinitions]]">
                    <h4>Link zu GitHub</h4>
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
                    </semantic-form-text-input>

                </semantic-form-composite-input>
                <h3>Gesamtentwicklungszeitraum</h3>
                <p>Geben Sie den Beginn des Zeitraums an. Wenn Sie das taggenaue Datum nicht angeben können, so
                    schätzen Sie es.
                    Es kommt vor allem darauf an eine ungefähre Einschätzung von der Dauer des Entwicklungsprozesses
                    zu geben.
                    Dies soll es denjenigen helfen, die selbst die Entwicklung einer digitalen Anwendung dieser Art
                    planen und
                    ihnen die Möglichkeit geben Zeiten realistischer zu planen.</p>
                <semantic-form-datetime-input for="http://www.metaphacts.com/fieldDefinition/beginDate"></semantic-form-datetime-input>
                <semantic-form-datetime-input for="http://www.metaphacts.com/fieldDefinition/endDate"></semantic-form-datetime-input>
       

                <h2>Vermarktung</h2>
                <semantic-form-tree-picker-input for="http://www.metaphacts.com/fieldDefinition/hasTouchpoints">
                    <semantic-form new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}"
                        fields="[[fieldDefinitions
        inSchemeTouchpoints='http://www.metaphacts.com/fieldDefinition/inSchemeTouchpoints'
        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
        ]]">
                        <semantic-form-hidden-input for="inSchemeTouchpoints" default-value='skos:Concept'>
                        </semantic-form-hidden-input>
                        <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                        </semantic-form-text-input>

                        <semantic-form-errors></semantic-form-errors>
                        <button name='submit' class='btn btn-default'>Create</button>
                        <button name='reset' class='btn btn-default'>Reset</button>

                    </semantic-form>
                </semantic-form-tree-picker-input>

                <!-- 
                    <h3>Abbildungen</h3>
                    Image upload siehe: https://www.enter.theninja.space/resource/Help:SemanticFormAdvancedInputs 
                habe schon ein Feld für die Abbildung erstellt: .../appImage
                -->
                <!--
        
                <semantic-form-file-input
                for='http://www.metaphacts.com/fieldDefinition/appImage'
                placeholder='Please drag&drop your image here'
                accept-pattern='image/*'
                generate-iri-query='
                  SELECT ?resourceIri WHERE {
                    BIND(URI(CONCAT(
                      STR(<Default:>), "uploaded-file-", ?__fileName__)
                    ) as ?resourceIri)
                  }
                '
                resource-query='
                  PREFIX mp: <http://www.metaphacts.com/ontologies/platform#>
                  CONSTRUCT {
                    ?__resourceIri__ a mp:File.
                    ?__resourceIri__ mp:fileName ?__fileName__.
                    ?__resourceIri__ mp:mediaType ?__mediaType__.
                  } WHERE {}
                '
                name-predicate-iri='http://www.metaphacts.com/ontologies/platform#fileName'
                media-type-predicate-iri='http://www.metaphacts.com/ontologies/platform#mediaType'
                    storage='{file-storage-id}'
                    temp-storage='{temp-file-storage-id}'>
                </semantic-form-file-input>
            
                      
    -->
</bs-tab>
                <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            Vermittlung            #####
    #####                                   ##### 
    #############################################
    
                
                -->

           
            <bs-tab event-key="2" title="Vermittlungskonzept">
                <h2>Vermittlungskonzept</h2>
                <p>Das Vermittlungskonzept beschreibt den Inhalt/das Thema der digitalen Anwendung und wie dieser/dieses
                    mittels eines Formates umgesetzt ist.
                    Es beschreibt weiterhin angesprochene Nutzer-/Besuchergruppen und wie die digitale Anwendung deren
                    Bedürfnisse adressiert.</p>
                    <p>Nutzen Sie folgendes Formular, um Entwicklungsschritte zu beschreiben. Speichern Sie vorher!</p>
                
                    <semantic-link-container uri=":EducationalConcept" target=_blank>
                            <button class="btn btn-default">Edit</button>
                          </semantic-link-container>
            </bs-tab>
 <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            ENTWICKLUNG            #####
    #####                                   ##### 
    #############################################
    
                -->         
            <bs-tab event-key="3" title="Entwicklungsschritte">
                <!--
                   <semantic-form-composite-input for="hasDevelopmentTimeSpan"></semantic-form-composite-input> -->
                   

                   <h2>Entwicklungsschritte</h2>
                   <p>Nutzen Sie folgendes Formular, um Entwicklungsschritte zu beschreiben. Speichern Sie vorher!</p>
                
                   <semantic-link-container uri=":E65_Creation" target=_blank>
                        <button class="btn btn-default">Edit</button>
                      </semantic-link-container>
                   </bs-tab>
          
            <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            Betrieb                #####
    #####                                   ##### 
    #############################################
    
                
                -->
                <bs-tab event-key="4" title="Betrieb">
                        
                    <h2>Betrieb der digitalen Anwendung</h2>
                    <p>Nutzen Sie folgendes Formular, um den Betrieb der digitalen Anwendung zu beschreiben. 
                        Speichern Sie vorher!</p>
                        <semantic-link-container uri=":Operation" target=_blank>
                                <button class="btn btn-default">Edit</button>
                              </semantic-link-container>
        
                    </bs-tab>  
            
            <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            BEFORSCHUNG            #####
    #####                                   ##### 
    #############################################
    
                -->
                <bs-tab event-key="5" title="Beforschung">
                        
                        <h2>Beforschung der digitalen Anwendung</h2>
                        <p>Nutzen Sie folgendes Formular, um den Forschungskontext der digitalen Anwendung zu beschreiben. 
                            Speichern Sie vorher!</p>

                        <semantic-link-container uri=":ResearchActivity" target=_blank>
                            <button class="btn btn-default">Edit</button>
                          </semantic-link-container>

                        </bs-tab>  
    <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            Projektkontext         #####
    #####                                   ##### 
    #############################################
    
                -->
    <bs-tab event-key="6" title="Projektkontext">
        <h2>Projekt und Beteiligte</h2>
        <p>Nutzen Sie folgendes Formular, um den Projektkontext der digitalen Anwendung zu beschreiben. 
        Speichern Sie vorher!</p>
            <semantic-link-container uri=":Project" target=_blank>
                    <button class="btn btn-default">Edit</button>
                  </semantic-link-container>

    </bs-tab>
    <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            ASSETS                 #####
    #####                                   ##### 
    #############################################
    
                
        <bs-tab event-key="8" title="Assets">
            <h2>Digitale Objekte</h2>
          
                        <semantic-form-select-input
                            for="http://www.researchspace.org/instances/fields/userGeneratedContentType">
                        </semantic-form-select-input>
                        -->


    <semantic-form-errors></semantic-form-errors>
    <semantic-form-recover-notification></semantic-form-recover-notification>
    <button name="submit" class="btn btn-default">Save</button>
    <button name="reset" class="btn btn-default">Reset</button>
    <!--
                     <button name="save-state">Export</button>
              <button name="load-state">Import</button>
                -->
    </bs-tabs>
    </semantic-form>
</bs-panel>