
<!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            Institution            #####
    #####                                   ##### 
    #############################################
    
   -->
<bs-panel>
<h1>Institution</h1>
<semantic-form new-subject-template="https://www.enter.theninja.space/resources/E74_Group/{{legalName}}"
subject='[[urlParam "group"]]' post-action='redirect' browser-persistence=false form-id='Group'        
fields="[[fieldDefinitions
                groupRdfType='http://www.metaphacts.com/fieldDefinition/groupRdfType'   
                legalName='http://www.metaphacts.com/fieldDefinition/legalName'
                urlOrg='http://www.metaphacts.com/fieldDefinition/urlOrg'
                       
                       ]]">
                       <semantic-form-hidden-input for="groupRdfType"></semantic-form-hidden-input>
                       <semantic-form-text-input for="legalName"></semantic-form-text-input>
                       <semantic-form-text-input for="urlOrg"></semantic-form-text-input>
            
       
        <semantic-form-errors></semantic-form-errors>
        <button name='submit' class='btn btn-default'>Create</button>
        <button name='reset' class='btn btn-default'>Reset</button>
    </semantic-form>

</bs-panel>