<bs-panel>
    <h1>Betrieb einer digitalen Anwendung</h1>

    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/operated']]
    [[> :compositeFieldVisualisation field='http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/visitorCare']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/extentOfUsage']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/usesOutputDevice']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/needsPermanentInternetAccess']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/requiredProcessor']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/requiredRAM']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/requiredHardDriveSpace']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/requiredGraphicsCard']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/usesOutputDevice']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/usesSoftware']]
    
    
    <semantic-link
        uri=':Operation'
        urlqueryparam-operation='[[this]]'
        urlqueryparam-tab='1'
    >
        <button>Edit</button>
    </semantic-link>

    </bs-panel>