<bs-panel>
    <h1>Entwicklungsschritte</h1>

    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasCreatedDigitalApp']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/descriptionOfCreationChallenges']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasCreationPhase']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasCreationMethod']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/needsExpertise']]
    [[> :compositeFieldVisualisation  field='http://www.metaphacts.com/fieldDefinition/usedSoftware']]
    [[> :compositeFieldVisualisation  field='http://www.metaphacts.com/fieldDefinition/usedTool']]
    
    <semantic-link
        uri=':E65_Creation'
        urlqueryparam-creation='[[this]]'
        urlqueryparam-tab='1'
    >
        <button>Edit</button>
    </semantic-link>

    </bs-panel>