<bs-panel>
    <h1>Vermittlungskonzept</h1>

    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasEducationFormat']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/descriptionOfEducationalGoal']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/descriptionOfUserNeeds']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasTargetAudience']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/descriptionOfNarration']]
    [[> :fieldVisualisation  field='http://www.metaphacts.com/fieldDefinition/hasSubject']]
   
    
    <semantic-link
        uri=':EducationalConcept'
        urlqueryparam-app='[[this]]'
        urlqueryparam-tab='1'
    >
        <button>Edit</button>
    </semantic-link>

    </bs-panel>