<semantic-form-autocomplete-input for="http://www.researchspace.org/instances/fields/touchpoints" placeholder='Tippen für Vorschläge...'>    
</semantic-form-autocomplete-input>

<semantic-form new-subject-template="https://enter.museum4punkt0.de/touchpoint/{{UUID}}" fields='[[fieldDefinitions]]'>
    <!--
    <semantic-form-hidden-input for="http://www.researchspace.org/instances/fields/touchpoints" default-value='test:Feature'></semantic-form-hidden-input>
    -->
    <semantic-form-errors></semantic-form-errors>
    <semantic-form-text-input for="http://www.researchspace.org/instances/fields/label"></semantic-form-text-input>
    <button name='submit' class='btn btn-default'>Neuer Touchpoint</button>
    <button name='reset' class='btn btn-default'>Reset Touchpoint</button>

</semantic-form>'