<bs-panel>
    <h1>Digitale Anwendung</h1>
    <semantic-form new-subject-template='https://enter.museum4punkt0.de/resources/DigitalApp/{{UUID}}'
        post-action='redirect' browser-persistence=false form-id='DigitalApp' fields="[[fieldDefinitions]]">

        <bs-tabs fixed-key="form">

            <bs-tab event-key="1" title="Grundinformationen">
                <semantic-form-text-input for="http://www.researchspace.org/instances/fields/title">
                </semantic-form-text-input>
                <semantic-form-select-input for="http://www.researchspace.org/instances/fields/hasTechnologyType">
                </semantic-form-select-input>
                <semantic-form-select-input for="http://www.researchspace.org/instances/fields/hasMaturityLevel">
                </semantic-form-select-input>
                <semantic-form-select-input for="http://www.researchspace.org/instances/fields/hasAreaOfUse">
                </semantic-form-select-input>
                <semantic-form-select-input
                    for="http://www.researchspace.org/instances/fields/userGeneratedContentType">
                </semantic-form-select-input>
                <semantic-form-text-input for="http://www.researchspace.org/instances/fields/touchpoints1">
                </semantic-form-text-input>

                <h3>Sourcecode der digitalen Anwendung</h3>
                <semantic-form-composite-input for="http://www.researchspace.org/instances/fields/E31_Document"
                    new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}"
                    fields="[[fieldDefinitions]]">
                    <h4>Link zu GitHub</h4>
                    <semantic-form-text-input for="http://www.researchspace.org/instances/fields/URL">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="http://www.researchspace.org/instances/fields/license">
                    </semantic-form-text-input>
                </semantic-form-composite-input>
            </bs-tab>
            <bs-tab event-key="2" title="Betrieb der digitalen Anwendung">
                <h2>Ausspielgeräte, periphere Hardware und ihre Software</h2>
                <p>Für den aktive Betrieb der digitalen Anwendungen werden Ausspielgeräte benötigt. Betimmte Anwendungen
                    können nur auf speziell-konfigurierten Geräten genutzt werden, wie bspw. eine AR Anwendung für die
                    Hololens. Hier können Sie alle Spezifika der Geräte, ihrer Peripherie und auch der damit verbunden
                    Software eingeben.</p>
                <!-- Idee, das Gerät extra zu machen, macht aber kein Sinn weil die Mindestanforderungen ja wieder individuell für jede App gelten also doch besser als Unterformular
        
        <semantic-form-autocomplete-input for="http://www.researchspace.org/instances/fields/usesOutputDevice"
        placeholder='Suche Geräte...'></semantic-form-autocomplete-input>
-->
                <h3>Ausspielgeräte</h3>
                <semantic-form-composite-input for="http://www.researchspace.org/instances/fields/OutputDevice"
                    new-subject-template="http://www.researchspace.org/instances/fields/OutputDevice{{id}}"
                    fields="[[fieldDefinitions]]">
                    <semantic-form-select-input for="http://www.researchspace.org/instances/fields/hasOutputDeviceType">
                    </semantic-form-select-input>
                    <!--
            <semantic-form-text-input for="http://www.researchspace.org/instances/fields/toolTitle">
            </semantic-form-text-input>
            -->
                    <semantic-form-autocomplete-input for="http://www.researchspace.org/instances/fields/toolTitleAuto"
                        placeholder='Suche oder erstelle neu...'>
                        <semantic-form new-subject-template="http://www.researchspace.org/instances/fields/title{id}"
                            fields="[[fieldDefinitions]]">
                            <semantic-form-text-input for="http://www.researchspace.org/instances/fields/title">
                            </semantic-form-text-input>
                            <semantic-form-errors></semantic-form-errors>
                            <button name='submit' class='btn btn-default'>Create</button>
                            <button name='reset' class='btn btn-default'>Reset</button>
                        </semantic-form>
                    </semantic-form-autocomplete-input>

                    <semantic-form-text-input for="http://www.researchspace.org/instances/fields/modelNr">
                    </semantic-form-text-input>
                    <semantic-form-select-input
                        for="http://www.researchspace.org/instances/fields/needsPermanentInternetAccess">
                    </semantic-form-select-input>

                    <h4>Mindestanforderungen</h4>
                    <semantic-form-text-input for="http://www.researchspace.org/instances/fields/requiredProcessor">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="http://www.researchspace.org/instances/fields/requiredRAM">
                    </semantic-form-text-input>
                    <semantic-form-text-input
                        for="http://www.researchspace.org/instances/fields/requiredHardDriveSpace">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="http://www.researchspace.org/instances/fields/requiredGraphicsCard">
                    </semantic-form-text-input>

                    <h4>Software des Ausspielgeräts</h4>
                    <semantic-form-composite-input for="http://www.researchspace.org/instances/fields/Software"
                        new-subject-template="http://www.researchspace.org/instances/fields/Software{id}}"
                        fields="[[fieldDefinitions]]">

                        <semantic-form-select-input for="http://www.researchspace.org/instances/fields/hasSoftwareType">
                        </semantic-form-select-input>
                        <semantic-form-autocomplete-input
                            for="http://www.researchspace.org/instances/fields/toolTitleAuto"
                            placeholder='Suche oder erstelle neu...'>
                            <semantic-form
                                new-subject-template="http://www.researchspace.org/instances/fields/title{id}"
                                fields="[[fieldDefinitions]]">
                                <semantic-form-text-input for="http://www.researchspace.org/instances/fields/title">
                                </semantic-form-text-input>
                                <semantic-form-errors></semantic-form-errors>
                                <button name='submit' class='btn btn-default'>Create</button>
                                <button name='reset' class='btn btn-default'>Reset</button>
                            </semantic-form>
                        </semantic-form-autocomplete-input>

                        <semantic-form-text-input for="http://www.researchspace.org/instances/fields/version">
                        </semantic-form-text-input>

                        <semantic-form-composite-input for="http://www.researchspace.org/instances/fields/E31_Document"
                            new-subject-template="http://www.researchspace.org/instances/fields/E31_Document{{id}"
                fields="[[fieldDefinitions]]">
                <semantic-form-text-input for="http://www.researchspace.org/instances/fields/URL">
                </semantic-form-text-input>
                <semantic-form-text-input for="http://www.researchspace.org/instances/fields/license">
                </semantic-form-text-input>
            </semantic-form-composite-input>

            </semantic-form-composite-input>

        </semantic-form-composite-input>
   
        <h3>benötigte periphere Hardware</h3>
            <semantic-form-composite-input for="http://www.researchspace.org/instances/fields/Hardware"
                new-subject-template="http://www.researchspace.org/instances/fields/Hardware{id}}"
                            fields="[[fieldDefinitions]]">


                            <semantic-form-autocomplete-input
                                for="http://www.researchspace.org/instances/fields/toolTitleAuto"
                                placeholder='Suche oder erstelle neue...'>
                                <semantic-form
                                    new-subject-template="http://www.researchspace.org/instances/fields/title{id}"
                                    fields="[[fieldDefinitions]]">
                                    <semantic-form-text-input for="http://www.researchspace.org/instances/fields/title">
                                    </semantic-form-text-input>
                                    <semantic-form-errors></semantic-form-errors>
                                    <button name='submit' class='btn btn-default'>Create</button>
                                    <button name='reset' class='btn btn-default'>Reset</button>
                                </semantic-form>
                            </semantic-form-autocomplete-input>

                            <semantic-form-text-input for="http://www.researchspace.org/instances/fields/modelNr">
                            </semantic-form-text-input>

                            <h3>Mindestanforderungen</h3>
                            <semantic-form-text-input
                                for="http://www.researchspace.org/instances/fields/requiredProcessor">
                            </semantic-form-text-input>
                            <semantic-form-text-input for="http://www.researchspace.org/instances/fields/requiredRAM">
                            </semantic-form-text-input>
                            <semantic-form-text-input
                                for="http://www.researchspace.org/instances/fields/requiredHardDriveSpace">
                            </semantic-form-text-input>
                            <semantic-form-text-input
                                for="http://www.researchspace.org/instances/fields/requiredGraphicsCard">
                            </semantic-form-text-input>

                            <h4>Software des Ausspielgeräts</h4>
                            <semantic-form-composite-input for="http://www.researchspace.org/instances/fields/Software"
                                new-subject-template="http://www.researchspace.org/instances/fields/Software{id}}"
                                fields="[[fieldDefinitions]]">

                                <semantic-form-select-input
                                    for="http://www.researchspace.org/instances/fields/hasSoftwareType">
                                </semantic-form-select-input>
                                <semantic-form-autocomplete-input
                                    for="http://www.researchspace.org/instances/fields/toolTitleAuto"
                                    placeholder='Suche oder erstelle neu...'>
                                    <semantic-form
                                        new-subject-template="http://www.researchspace.org/instances/fields/title{id}"
                                        fields="[[fieldDefinitions]]">
                                        <semantic-form-text-input
                                            for="http://www.researchspace.org/instances/fields/title">
                                        </semantic-form-text-input>
                                        <semantic-form-errors></semantic-form-errors>
                                        <button name='submit' class='btn btn-default'>Create</button>
                                        <button name='reset' class='btn btn-default'>Reset</button>
                                    </semantic-form>
                                </semantic-form-autocomplete-input>

                                <semantic-form-text-input for="http://www.researchspace.org/instances/fields/version">
                                </semantic-form-text-input>

                                <semantic-form-composite-input
                                    for="http://www.researchspace.org/instances/fields/E31_Document"
                                    new-subject-template="http://www.researchspace.org/instances/fields/E31_Document{{id}"
                fields="[[fieldDefinitions]]">
                <semantic-form-text-input for="http://www.researchspace.org/instances/fields/URL">
                </semantic-form-text-input>
                <semantic-form-text-input for="http://www.researchspace.org/instances/fields/license">
                </semantic-form-text-input>
            </semantic-form-composite-input>

            </semantic-form-composite-input>

       

                </semantic-form-composite-input>
                <h3>Betriebskonzept</h3>
                <semantic-form-composite-input for="http://www.researchspace.org/instances/fields/E31_Document"
                    new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}"
                                    fields="[[fieldDefinitions]]">
                                    <h4>Link zu Zenodo</h4>
                                    <semantic-form-text-input for="http://www.researchspace.org/instances/fields/URL">
                                    </semantic-form-text-input>
                                    <semantic-form-text-input
                                        for="http://www.researchspace.org/instances/fields/license">
                                    </semantic-form-text-input>
                                </semantic-form-composite-input>
            </bs-tab>






            <semantic-form-errors></semantic-form-errors>
            <!-- save and reset button for form -->
            <button name="submit" class="btn btn-default">Save</button>
            <button name="reset" class="btn btn-default">Reset</button>
        </bs-tabs>
    </semantic-form>
</bs-panel>