<!--
<bs-navbar>
    <bs-nav>
        <bs-nav-dropdown title="Dateneingabe">
            <bs-menu-item href="/resource/Default:DigitalApp">digitale Anwendung</bs-menu-item>
            <bs-menu-item href="/resource/Default:E65_Creation">Entwicklung</bs-menu-item>
        </bs-nav-dropdown>


    </bs-nav>
</bs-navbar>

<ol class="page-breadcrumb">
    <li><a href="/resource/:Home">Home
        </a> </li>
    <li><a href="/resource/:Start">Dateneingabe
        </a> </li>
    <li class="active">Digitale Anwendung</li>
</ol>
-->
<bs-panel>
    <h1>Digitale Anwendung</h1>
    <semantic-form new-subject-template='https://enter.museum4punkt0.de/resources/DigitalApp/{{UUID}}'
        post-action='redirect' browser-persistence=false form-id='DigitalApp' fields="[[fieldDefinitions]]">
        <!--
           
            Wo kann man einstellen wohin der 'redirect' geht? Ich hätte gern, dass er dann zur Ansicht der erstellten Instanz geht, also im Formularstyle. Von der Ansicht ausgehend hätt eich gern nen Button, 
            der zum Edit (der bereits ausgefüllten Maske) der Instanz führt).
              <semantic-form subject='[[this]]'>
        -->

        <bs-tabs fixed-key="form">

            <bs-tab event-key="1" title="Grundinformationen">


                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/digitalAppTitle">
                </semantic-form-text-input>
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/shortTitle">
                </semantic-form-text-input>
                <!--
                    bei TechnologyType value set nachtragen siehe Worklflow in Z:Doku/Ergebnisse
                -->
                <semantic-form-select-input for="http://www.metaphacts.com/fieldDefinition/hasTechnologyType">
                </semantic-form-select-input>
                <!--
    für MaturityLevel ein tree-picker draus machen aber OHNE eigene Erstellung, nur Auswahl
-->
                <semantic-form-select-input for="http://www.metaphacts.com/fieldDefinition/hasMaturityLevel">
                </semantic-form-select-input>

                <semantic-form-select-input for="http://www.metaphacts.com/fieldDefinition/hasAreaOfUse">
                </semantic-form-select-input>


                <h3>Sourcecode der digitalen Anwendung</h3>
                <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in"
                    new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}"
                    fields="[[fieldDefinitions]]">
                    <h4>Link zu GitHub</h4>
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
                    </semantic-form-text-input>
                    <!--
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/license">
                    </semantic-form-text-input>
                    -->
                </semantic-form-composite-input>

                <h3>Abbildungen</h3>
                <!-- Image upload siehe: https://enter.museum4punkt0.de/resource/Help:SemanticFormAdvancedInputs 
            habe schon ein Feld für die Abbildung erstellt: .../appImage
            -->
                <!--
    
            <semantic-form-file-input
            for='http://www.metaphacts.com/fieldDefinition/appImage'
            placeholder='Please drag&drop your image here'
            accept-pattern='image/*'
            generate-iri-query='
              SELECT ?resourceIri WHERE {
                BIND(URI(CONCAT(
                  STR(<Default:>), "uploaded-file-", ?__fileName__)
                ) as ?resourceIri)
              }
            '
            resource-query='
              PREFIX mp: <http://www.metaphacts.com/ontologies/platform#>
              CONSTRUCT {
                ?__resourceIri__ a mp:File.
                ?__resourceIri__ mp:fileName ?__fileName__.
                ?__resourceIri__ mp:mediaType ?__mediaType__.
              } WHERE {}
            '
            name-predicate-iri='http://www.metaphacts.com/ontologies/platform#fileName'
            media-type-predicate-iri='http://www.metaphacts.com/ontologies/platform#mediaType'
                storage='{file-storage-id}'
                temp-storage='{temp-file-storage-id}'>
            </semantic-form-file-input>
        
                  
-->

<!--
    Feld löschen:
    http://www.metaphacts.com/fieldDefinition/hasEducationalConcept
-->

            </bs-tab>
           
            <bs-tab event-key="2" title="Betrieb, Betreuung, Vermarktung">
                <h2>Betreuung</h2>
                <p>Für digitale Anwendungen, wie z.B. Virtual Reality Formate, wird Betreuung für die Nutzer benötigt.
                    Wenn die beschriebene Anwendung keine Betreuung erfordert, dann entfernen Sie die Felder.</p>
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/visitorCare">
                </semantic-form-text-input>
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/extentOfUsage">
                </semantic-form-text-input>


                <h2>Betriebskonzept</h2>
                <p>
                    Das Betriebskonzept gibt Hinweise zum Management rund um den aktiven Betrieb im Museum.
                </p>
                <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in"
                    new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}"
                    fields="[[fieldDefinitions]]">
                    <h3>Link zu Zenodo</h3>
                    <p>Geben Sie hier den Link zum Dokument in Zenodo an. Bei Zenodo wird Ihnen eine stabile URL
                        angezeigt, die Sie hier verwenden sollten. Dort befindet sich auch die
                        bibliographische Angabe, die Sie hier verwenden sollten.</p>
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/bibliographicCitation"
                        multiline=true>
                    </semantic-form-text-input>
                </semantic-form-composite-input>
                <h2>Vermarktung</h2>
                <semantic-form-tree-picker-input for="http://www.metaphacts.com/fieldDefinition/hasTouchpoints">
                    <semantic-form new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}"
                        fields="[[fieldDefinitions
        inSchemeTouchpoints='http://www.metaphacts.com/fieldDefinition/inSchemeTouchpoints'
        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
        ]]">
                        <semantic-form-hidden-input for="inSchemeTouchpoints" default-value='skos:Concept'>
                        </semantic-form-hidden-input>
                        <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                        </semantic-form-text-input>

                        <semantic-form-errors></semantic-form-errors>
                        <button name='submit' class='btn btn-default'>Create</button>
                        <button name='reset' class='btn btn-default'>Reset</button>

                    </semantic-form>
                </semantic-form-tree-picker-input>

            </bs-tab>
            <bs-tab event-key="4" title="Geräte und Software">
                <h2>Ausspielgeräte, periphere Hardware und ihre Software</h2>
                <p>Für den aktive Betrieb der digitalen Anwendungen werden Ausspielgeräte benötigt. Bestimmte
                    Anwendungen
                    können nur auf speziell konfigurierten Geräten genutzt werden, wie bspw. eine AR Anwendung für die
                    Hololens. Hier können Sie alle Spezifika der Geräte, ihrer Peripherie und auch der benötigten
                    Software eingeben.</p>

                <h3>Ausspielgeräte</h3>
                <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/OutputDevice"
                    new-subject-template="https://enter.museum4punkt0.de/resources/OutputDevice/{{title}}" fields="[[fieldDefinitions 
                    hasOutputDeviceType='http://www.metaphacts.com/fieldDefinition/hasOutputDeviceType'
                    title='http://www.metaphacts.com/fieldDefinition/toolTitle'
                    modelNr='http://www.metaphacts.com/fieldDefinition/modelNr'
                    needsPermanentInternetAccess='http://www.metaphacts.com/fieldDefinition/needsPermanentInternetAccess'
                    requiredProcessor='http://www.metaphacts.com/fieldDefinition/requiredProcessor'
                    requiredRAM='http://www.metaphacts.com/fieldDefinition/requiredRAM'
                    requiredHardDriveSpace='http://www.metaphacts.com/fieldDefinition/requiredHardDriveSpace'
                    requiredGraphicsCard='http://www.metaphacts.com/fieldDefinition/requiredGraphicsCard'
                    ]]">


                    <semantic-form-tree-picker-input for="hasOutputDeviceType">
                        <semantic-form
                            new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}" fields="[[fieldDefinitions
                            inSchemeOutputDeviceType='http://www.metaphacts.com/fieldDefinition/inSchemeOutputDeviceType'
                            prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                            altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                            broaderOutputDevice='http://www.metaphacts.com/fieldDefinition/broaderOutputDevice'
                            ]]">
                            <semantic-form-hidden-input for="inSchemeOutputDeviceType" default-value='skos:Concept'>
                            </semantic-form-hidden-input>
                            <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                            </semantic-form-text-input>
                            <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                            </semantic-form-text-input>
                            <semantic-form-tree-picker-input for="broaderOutputDevice">
                            </semantic-form-tree-picker-input>

                            <semantic-form-errors></semantic-form-errors>
                            <button name='submit' class='btn btn-default'>Create</button>
                            <button name='reset' class='btn btn-default'>Reset</button>

                        </semantic-form>
                    </semantic-form-tree-picker-input>

                    <semantic-form-text-input for="title">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="modelNr">
                    </semantic-form-text-input>
                    <semantic-form-select-input for="needsPermanentInternetAccess">
                    </semantic-form-select-input>

                    <h4>Mindestanforderungen an die Hardware</h4>
                    <semantic-form-text-input for="requiredProcessor">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredRAM">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredHardDriveSpace">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredGraphicsCard">
                    </semantic-form-text-input>

                </semantic-form-composite-input>

                <h3>benötigte periphere Hardware</h3>
                <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/usesHardware"
                    new-subject-template="ttps://enter.museum4punkt0.de/resources/Hardware/{{title}}" fields="[[fieldDefinitions 
                    title='http://www.metaphacts.com/fieldDefinition/toolTitle'
                    modelNr='http://www.metaphacts.com/fieldDefinition/modelNr'
                    needsPermanentInternetAccess='http://www.metaphacts.com/fieldDefinition/needsPermanentInternetAccess'
                    requiredProcessor='http://www.metaphacts.com/fieldDefinition/requiredProcessor'
                    requiredRAM='http://www.metaphacts.com/fieldDefinition/requiredRAM'
                    requiredHardDriveSpace='http://www.metaphacts.com/fieldDefinition/requiredHardDriveSpace'
                    requiredGraphicsCard='http://www.metaphacts.com/fieldDefinition/requiredGraphicsCard'
                    ]]">

                    <semantic-form-text-input for="title">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="modelNr">
                    </semantic-form-text-input>

                    <h4>Mindestanforderungen</h4>
                    <semantic-form-text-input for="requiredProcessor">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredRAM">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredHardDriveSpace">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredGraphicsCard">
                    </semantic-form-text-input>

                </semantic-form-composite-input>

                <h3>benötigte Software</h3>
                <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/usesSoftware"
                    new-subject-template for="https://enter.museum4punkt0.de/resources/Software/{{title}}" fields="[[fieldDefinitions 
                    title='http://www.metaphacts.com/fieldDefinition/toolTitle'
                    version='http://www.metaphacts.com/fieldDefinition/version'
                    hasSoftwareType='http://www.metaphacts.com/fieldDefinition/hasSoftwareType'
                    ]]">
                    <semantic-form-text-input for="title">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="version">
                    </semantic-form-text-input>
                    <semantic-form-select-input for="hasSoftwareType">
                    </semantic-form-select-input>

                </semantic-form-composite-input>
            </bs-tab>

            <bs-tab event-key="5" title="Nachnutzung">
                <h2></h2>

            </bs-tab>
            <!--
            <bs-tab event-key="5" title="Beforschung">
                <h2>Testings und begleitende Untersuchungen</h2>

            </bs-tab>
            -->
            <bs-tab event-key="6" title="Assets">
                <h2>Digitale Objekte</h2>
                <!--
                <semantic-form-select-input
                    for="http://www.researchspace.org/instances/fields/userGeneratedContentType">
                </semantic-form-select-input>
                -->
            </bs-tab>

            <bs-tab event-key="7" title="Projektkontext">
                <h2>Projekt und Beteiligte</h2>
                <h2>Förderung</h2>

            </bs-tab>


            <semantic-form-errors></semantic-form-errors>
            <semantic-form-recover-notification></semantic-form-recover-notification>
            <button name="submit" class="btn btn-default">Save</button>
            <button name="reset" class="btn btn-default">Reset</button>
            <!--
                 <button name="save-state">Export</button>
          <button name="load-state">Import</button>
            -->
        </bs-tabs>
    </semantic-form>
</bs-panel>

<!--
    Templates:
    https://enter.museum4punkt0.de/resource/Default:Header 

Scheint ein Template zu sein, das es ermöglicht Entitäten anzuzeigen. Bin mir aber nicht sicher.

Fragen: Wenn ich das Formular speichere möchte ich gern zu einer anderen Anzeige. Und zwar einfach die Eingabemaske selbst. So dass die Eingebenden ihre Daten überprüfen können.
-->