<bs-panel>
    <h1>Entwicklung</h1>
    <p>Beschreiben Sie hier alles, was im Kontext der Entwicklung der digitalen Anwendung relevant war.</p>
    <semantic-form new-subject-template='https://enter.museum4punkt0.de/resources/E65_Creation/{{UUID}}'
        post-action='redirect' browser-persistence=false form-id='Creation' fields="[[fieldDefinitions
        hasCreatedDigitalApp='http://www.metaphacts.com/fieldDefinition/hasCreatedDigitalApp'
        descriptionOfCreationChallenges='http://www.metaphacts.com/fieldDefinition/descriptionOfCreationChallenges'
        beginDate='http://www.metaphacts.com/fieldDefinition/beginDate'
        endDate='http://www.metaphacts.com/fieldDefinition/endDate'
        fallsWithinAppCreation='http://www.metaphacts.com/fieldDefinition/fallsWithinAppCreation'
        ]]">

        <semantic-form-autocomplete-input for="hasCreatedDigitalApp">
        </semantic-form-autocomplete-input>
        <semantic-form-text-input for="descriptionOfCreationChallenges" multiline=true>
        </semantic-form-text-input>
        <h3>Gesamtentwicklungszeitraum</h3>
        <p>Geben Sie den Beginn des Zeitraums an. Wenn Sie das taggenaue Datum nicht angeben können, so schätzen Sie es.
            Es kommt vor allem darauf an eine ungefähre Einschätzung von der Dauer des Entwicklungsprozesses zu geben.
            Dies soll es denjenigen helfen, die selbst die Entwicklung einer digitalen Anwendung dieser Art planen und
            ihnen die Möglichkeit geben Zeiten realistischer zu planen.</p>
        <semantic-form-datetime-input for="beginDate"></semantic-form-datetime-input>
        <semantic-form-datetime-input for="endDate"></semantic-form-datetime-input>


        <h2>Entwicklungsschritte</h2>
        <p> Die unterschiedlichen Entwicklungsschritte sind jeder für sich zu beschreiben.
            Unterschieden werden die einzelnen Schritte anhand der jeweils genutzen Methoden und/oder ihrer
            Zugehörigkeit zu übergeordneten
            Entwicklungsphasen. Wie granular die Entwicklung der Anwendung beschrieben wird liegt im
            Ermessen des Erfassenden.
        </p>

        <semantic-form-composite-input for="fallsWithinAppCreation"
            new-subject-template="https://enter.museum4punkt0.de/resources/E65_Creation/{{UUID}}" fields="[[fieldDefinitions
            hasCreationMethod='http://www.metaphacts.com/fieldDefinition/hasCreationMethod'
            hasCreationPhase='http://www.metaphacts.com/fieldDefinition/hasCreationPhase'
            needsExpertise='http://www.metaphacts.com/fieldDefinition/needsExpertise'
            usedHardware='http://www.metaphacts.com/fieldDefinition/usedHardware'
            usedSoftware='http://www.metaphacts.com/fieldDefinition/usedSoftware'
            usedTool='http://www.metaphacts.com/fieldDefinition/usedTool'
            ]]">

            <semantic-form-select-input for="hasCreationPhase">
            </semantic-form-select-input>
            <semantic-form-tree-picker-input for="hasCreationMethod">
                <semantic-form new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}"
                    fields="[[fieldDefinitions
                    inSchemeCreationMethod='http://www.metaphacts.com/fieldDefinition/inSchemeCreationMethod'    
                    prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                    altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                    broaderCreationMethod='http://www.metaphacts.com/fieldDefinition/broaderCreationMethod'                
                        ]]">
                    <semantic-form-hidden-input for="inSchemeCreationMethod" default-value='skos:Concept'>
                    </semantic-form-hidden-input>
                    <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                    </semantic-form-text-input>
                    <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                    </semantic-form-text-input>
                    <semantic-form-tree-picker-input for="broaderCreationMethod"></semantic-form-tree-picker-input>

                    <semantic-form-errors></semantic-form-errors>
                    <button name='submit' class='btn btn-default'>Create</button>
                    <button name='reset' class='btn btn-default'>Reset</button>
                </semantic-form>
            </semantic-form-tree-picker-input>
           

            <semantic-form-tree-picker-input for="needsExpertise">
                <semantic-form new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}"
                    fields="[[fieldDefinitions
                        inSchemeExpertise='http://www.metaphacts.com/fieldDefinition/inSchemeExpertise'    
                        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                        altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                        broaderExpertise='http://www.metaphacts.com/fieldDefinition/broaderExpertise'                  
                            ]]">
                    <semantic-form-hidden-input for="inSchemeExpertise" default-value='skos:Concept'>
                    </semantic-form-hidden-input>
                    <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                    </semantic-form-text-input>
                    <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                    </semantic-form-text-input>
                    <semantic-form-tree-picker-input for="broaderExpertise"></semantic-form-tree-picker-input>

                    <semantic-form-errors></semantic-form-errors>
                    <button name='submit' class='btn btn-default'>Create</button>
                    <button name='reset' class='btn btn-default'>Reset</button>
                </semantic-form>
            </semantic-form-tree-picker-input>

            <h3>genutzte Tools - Hardware, Software und Hilfsmittel</h3>
            <semantic-form-composite-input for="usedHardware"
               new-subject-template="https://enter.museum4punkt0.de/resources/Hardware/{{title}}" fields="[[fieldDefinitions 
title='http://www.metaphacts.com/fieldDefinition/toolTitle'
modelNr='http://www.metaphacts.com/fieldDefinition/modelNr'
hasToolType='http://www.metaphacts.com/fieldDefinition/hasToolType'
requiredProcessor='http://www.metaphacts.com/fieldDefinition/requiredProcessor'
requiredRAM='http://www.metaphacts.com/fieldDefinition/requiredRAM'
requiredHardDriveSpace='http://www.metaphacts.com/fieldDefinition/requiredHardDriveSpace'
requiredGraphicsCard='http://www.metaphacts.com/fieldDefinition/requiredGraphicsCard'
]]">
                    <semantic-form-text-input for="title">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="modelNr">
                    </semantic-form-text-input>
                    
                    <semantic-form-tree-picker-input for="hasToolType">
                        <semantic-form
                            new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}" fields="[[fieldDefinitions
                        inSchemeToolType='http://www.metaphacts.com/fieldDefinition/inSchemeToolType'    
                        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                        altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                        broaderToolType='http://www.metaphacts.com/fieldDefinition/broaderToolType'                  
                            ]]">
                            <!--
                                Hier gibt es im Field Generator einen Fehler: inScheme ist auf CreationMethod gesetzt.
                            -->
                            <semantic-form-hidden-input for="inSchemeToolType" default-value='skos:Concept'>
                            </semantic-form-hidden-input>
                            <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                            </semantic-form-text-input>
                            <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                            </semantic-form-text-input>
                            <semantic-form-tree-picker-input for="broaderToolType"></semantic-form-tree-picker-input>

                            <semantic-form-errors></semantic-form-errors>
                            <button name='submit' class='btn btn-default'>Create</button>
                            <button name='reset' class='btn btn-default'>Reset</button>
                        </semantic-form>
                    </semantic-form-tree-picker-input>

                    <h4>Mindestanforderungen</h4>
                    <semantic-form-text-input for="requiredProcessor">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredRAM">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredHardDriveSpace">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="requiredGraphicsCard">
                    </semantic-form-text-input>
                    
                    
               
            </semantic-form-composite-input>

            <semantic-form-composite-input for="usedSoftware"
                 new-subject-template="https://enter.museum4punkt0.de/resources/Software/{{title}}"
                    fields="[[fieldDefinitions 
            title='http://www.metaphacts.com/fieldDefinition/toolTitle'
            version='http://www.metaphacts.com/fieldDefinition/version'
            hasSoftwareType='http://www.metaphacts.com/fieldDefinition/hasSoftwareType'
            P70i_is_documented_in='http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in'
            ]]">
                    <semantic-form-text-input for="title">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="version">
                    </semantic-form-text-input>
                    <semantic-form-select-input for="hasSoftwareType">
                    </semantic-form-select-input>
                    <semantic-form-composite-input for="P70i_is_documented_in"
                        new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}"
                        fields="[[fieldDefinitions]]">
                        <h4>Quelle der Software</h4>
                        <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
                        </semantic-form-text-input>
                        <!--
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/license">
                    </semantic-form-text-input>
                    -->
                    </semantic-form-composite-input>
                    
                
            </semantic-form-composite-input>

            <semantic-form-composite-input for="usedTool"
                new-subject-template="https://enter.museum4punkt0.de/resources/Tool/{{title}" fields="[[fieldDefinitions 
            title='http://www.metaphacts.com/fieldDefinition/toolTitle'
            hasToolType='http://www.metaphacts.com/fieldDefinition/hasToolType'
            P70i_is_documented_in='http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in'
            ]]">

                    <semantic-form-text-input for="title">
                    </semantic-form-text-input>

                    <semantic-form-tree-picker-input for="hasToolType">
                        <semantic-form
                            new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}" fields="[[fieldDefinitions
                        inSchemeToolType='http://www.metaphacts.com/fieldDefinition/inSchemeToolType'    
                        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                        altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                        broaderToolType='http://www.metaphacts.com/fieldDefinition/broaderToolType'                  
                            ]]">
                            <semantic-form-hidden-input for="inSchemeToolType" default-value='skos:Concept'>
                            </semantic-form-hidden-input>
                            <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                            </semantic-form-text-input>
                            <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                            </semantic-form-text-input>
                            <semantic-form-tree-picker-input for="broaderToolType"></semantic-form-tree-picker-input>

                            <semantic-form-errors></semantic-form-errors>
                            <button name='submit' class='btn btn-default'>Create</button>
                            <button name='reset' class='btn btn-default'>Reset</button>
                        </semantic-form>
                    </semantic-form-tree-picker-input>

                    <semantic-form-composite-input for="P70i_is_documented_in"
                        new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}"
                        fields="[[fieldDefinitions]]">
                        <h4>Quelle des Hilfsmittels</h4>
                        <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/bibliographicCitation"
                            multiline=true></semantic-form-text-input>
                        <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
                        </semantic-form-text-input>
                        <!--
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/license">
                    </semantic-form-text-input>
                    -->
                    </semantic-form-composite-input>
                
            </semantic-form-composite-input>



        </semantic-form-composite-input>


        <semantic-form-errors></semantic-form-errors>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <button name="submit" class="btn btn-default">Save</button>
        <button name="reset" class="btn btn-default">Reset</button>

    </semantic-form>
</bs-panel>