<ol class="page-breadcrumb">
        <li>
          <mp-link title="Home" url="/">Home</mp-link>
        </li>
       
     <!--
         Der Link zum Eingabetemplate funktioniert nicht, ich check nicht warum. 
         auch wenn ich den namen im Template-Verzeichnis "http://www.researchspace.org/resource/DigitalApp" benutze geht es nicht
     -->
        <li>
          <semantic-link title="DigiApp" data-uri="https://enter.museum4punkt0.de/resource/Default:DigitalApp">Digitale Anwendung</semantic-link>
        </li>
       
        <li class="active">What</li>
      </ol>
      <div class="page">
        <div class='page__body'>
           <h1>So geht das</h1><br/>
        </div>
      </div>
      <bs-navbar data-fluid="true" class="metaphacts-header-navbar" data-fixed-top="true" data-inverse="true" data-role="navigation">
        <bs-navbar-header>
          <bs-navbar-brand>
            <a href="/">
              enter.museum4punkt0
            </a>
          </bs-navbar-brand>
          <bs-navbar-toggle/>
        </bs-navbar-header>
        <bs-navbar-collapse>
          <ul class="nav navbar-nav" >
      
              <semantic-link-container uri="https://enter.museum4punkt0.de/resource/Default:DigitalApp">
                <li title="digitale Anwendung">
                  <a>digitale Anwendung</a>
                </li>
              </semantic-link-container>
      
              <semantic-link-container uri="https://enter.museum4punkt0.de/resource/Default:E65_Creation">
                <li title="Entwicklung">
                  <a>Entwicklung</a>
                </li>
              </semantic-link-container>
      
              
          </ul>
          <bs-nav data-pull-right="true">
            <ul class="nav navbar-nav" >
              <semantic-link-container uri="http://www.metaphacts.com/resource/assets/Fields">
                <li title="Fields">
                  <a>Fields</a>
                </li>
              </semantic-link-container>
              <li><mp-link url="/sparql" title="Sparql Endpoint">SPARQL</mp-link></li>
            </ul>
            <mp-nav-account></mp-nav-account>
            <mp-anonymous-hidden>
              <semantic-link-container uri="http://www.metaphacts.com/resource/admin/">
                <li title="System Settings">
                  <a><i class="fa fa-cog"></i></a>
                </li>
              </semantic-link-container>
            </mp-anonymous-hidden>
            <semantic-link-container uri="http://help.metaphacts.com/resource/Start">
              <li title="Help">
                <a><i class="fa fa-question-circle"></i></a>
              </li>
            </semantic-link-container>
          </bs-nav>
        </bs-navbar-collapse>
      </bs-navbar>
      