
<bs-navbar>
    <bs-navbar-header>
      <bs-navbar-brand>
        <a href="#">enter.museum4punkt0</a>
      </bs-navbar-brand>
    </bs-navbar-header>
    <bs-nav>
      <mp-resource-link-container uri="http://help.metaphacts.com/resource/Start"><bs-nav-item>Nothing</bs-nav-item></mp-resource-link-container>
      
      <bs-nav-dropdown title="Dateneingabe" id="basic-nav-dropdown">
        <mp-resource-link-container uri="https://enter.museum4punkt0.de/resource/Default:DigitalApp"><bs-menu-item>digitale Anwendung</bs-menu-item></mp-resource-link-container>
        <mp-resource-link-container uri="https://enter.museum4punkt0.de/resource/Default:E65_Creation"><bs-menu-item>Entwicklung</bs-menu-item></mp-resource-link-container>
        <bs-menu-item divider="true"></bs-menu-item>
        <mp-resource-link-container uri="http://help.metaphacts.com/resource/SemanticSimpleSearch"><bs-menu-item >Simple Search</bs-menu-item></mp-resource-link-container>
      </bs-nav-dropdown>
    </bs-nav>
  </bs-navbar>