<bs-navbar>
    <!--
    <bs-navbar-header>
        <bs-navbar-brand>
            <a href="#">enter.museum4punkt0</a>
        </bs-navbar-brand>
    </bs-navbar-header>
    -->
    <bs-nav>
        <mp-resource-link-container uri="http://help.metaphacts.com/resource/Start">
            <bs-nav-item>Nothing</bs-nav-item>
        </mp-resource-link-container>

        <bs-nav-dropdown title="Dateneingabe" id="basic-nav-dropdown">
            <mp-resource-link-container uri="https://enter.museum4punkt0.de/resource/Default:DigitalApp">
                <bs-menu-item>digitale Anwendung</bs-menu-item>
            </mp-resource-link-container>
            <mp-resource-link-container uri="https://enter.museum4punkt0.de/resource/Default:E65_Creation">
                <bs-menu-item>Entwicklung</bs-menu-item>
            </mp-resource-link-container>
            <bs-menu-item divider="true"></bs-menu-item>
            <mp-resource-link-container uri="http://help.metaphacts.com/resource/SemanticSimpleSearch">
                <bs-menu-item>Simple Search</bs-menu-item>
            </mp-resource-link-container>
        </bs-nav-dropdown>
    </bs-nav>
</bs-navbar>

<div class="page">
    <div class='page__body'>

<!--
        <div data-flex-layout="row stretch-stretch">
            <div data-flex-layout="column top-stretch">
                <div class="grid-demo">
                    <semantic-link-container uri="https://enter.museum4punkt0.de/resource/Default:DigitalApp">
                        <h2>Geben Sie hier eine neue digitale Anwendung ein</h2>
                        <button class="btn btn-default">digitale Anwendung</button>
                    </semantic-link-container>
                </div>
                <div class="grid-demo" data-flex-self="size-x1" data-flex-layout="column center-center">
                    <semantic-link-container uri="https://enter.museum4punkt0.de/resource/Default:DigitalApp">
                        <h2>Geben Sie hier eine neue Enwtwicklung für eine digitale Anwendung ein</h2>
                        <button class="btn btn-default">Entwicklung</button>
                    </semantic-link-container>
                </div>
            </div>
            <div class="grid-demo" data-flex-layout="column center-center" style="height: 70px;">
                <div class="grid-demo" data-flex-self="size-x1" data-flex-layout="column center-center">
                    <semantic-link-container uri="http://help.metaphacts.com/resource/Start">
                        <h2>Hilfe hilfe</h2>
                        <button class="btn btn-default">HELP!</button>
                    </semantic-link-container>
                </div>
            </div>
-->





        </div>
    </div>