<bs-panel>
    <h1>Vokabulareditor</h1>

    <semantic-form new-subject-template="https://www.enter.theninja.space/resources/????/{{}}"
        post-action='redirect' browser-persistence=false form-id='Vocabs' fields="[[fieldDefinitions]]">

        <semantic-form-select-input for="http://www.metaphacts.com/fieldDefinition/selectScheme">
        </semantic-form-select-input>

        <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/hasTopConcept"
            new-subject-template="https://www.enter.theninja.space/resources/Concept/{{prefLabel}}" fields="[[fieldDefinitions
        
        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
]]">
            <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
            </semantic-form-text-input>

        </semantic-form-composite-input>



        <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/prefLabel" languages='["de", "en"]' require-language=true>
        </semantic-form-text-input>
        <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/altLabel" languages='["de", "en"]' require-language=true>
        </semantic-form-text-input>
        <semantic-form-tree-picker-input for="http://www.metaphacts.com/fieldDefinition/broader">
        </semantic-form-tree-picker-input>

        <semantic-form-errors></semantic-form-errors>
        <button name='submit' class='btn btn-default'>Create</button>
        <button name='reset' class='btn btn-default'>Reset</button>
    </semantic-form>

</bs-panel>