
  <bs-row>
        <bs-col sm-offset="2">
          <h1> Digitale Anwendung </h1>
        </bs-col>
      </bs-row>
      <bs-row>
        <bs-col sm="3" sm-offset="2">
         <b>Name der Anwendung</b>
          <semantic-query query="SELECT ?s ?title WHERE {?s  <https://www.museum4punkt0.de/catalogue/ontology/digitalAppTitle> ?title }" 
          template="<p>{{title.title}}</p>"></semantic-query>
          <!--
          <semantic-query query="SELECT ?thumbnail WHERE {??  <http://schema.org/thumbnail> ?thumbnail }" template='{{#each bindings}}<img src="{{thumbnail.value}}">{{/each}}'></semantic-query>
          http://purl.org/dc/terms/
          -->
        </bs-col>
    
        <bs-col sm="3">
            <b>Sourcecodedokumentation</b>
          <semantic-table
                  query='SELECT ?s ?doc ?value WHERE {?s <http://www.cidoc-crm.org/cidoc-crm/P70i_is_documented_in> ?doc. ?doc <http://schema.org/url> ?value}'
                  options='{"showFilter":false}'
                  tuple-template='{{> tupleTemplate}}'
          >
            <template id='tupleTemplate'>
              <div style="height: 250px; width: 250px; margin: 10px;" class="panel panel-default">         
                <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis;">
                  <semantic-link uri="{{value.value}}">{{label.value}}</semantic-link>
                </div>
                <!--
                <div class="panel-body">
                  <img class="img-responsive img-thumbnail" style="max-height: 130px;display: block;margin-left:auto;margin-right:auto;" src="{{thumbnail.value}}"/>
                </div>
                -->
              </div>
            </template>
          </semantic-table>
        </bs-col>
    
        <bs-col sm="3">
          <b>Geräte</b>
          <semantic-table
                  query='SELECT ?device ?label WHERE { ?s <https://www.museum4punkt0.de/catalogue/ontology/usesOutputDevice> ?device. ?device <https://www.museum4punkt0.de/catalogue/ontology/toolTitle> ?label}'
                  options='{"showFilter":false}'
                  tuple-template='{{> tupleTemplate}}'
          >
            <template id='tupleTemplate'>
              <div style="height: 250px; width: 250px; margin: 10px;" class="panel panel-default">         
                <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis;">
                  <semantic-link uri="{{device.value}}">{{label.value}}</semantic-link>
                </div>
                <!--
                <div class="panel-body">
                  <img class="img-responsive img-thumbnail" style="max-height: 130px;display: block;margin-left:auto;margin-right:auto;" src="{{thumbnail.value}}"/>
                </div>
                -->
              </div>
            </template>
          </semantic-table>
        </bs-col>
      </bs-row>
    