 
 <bs-panel>
    <h1>Entwicklung</h1>
    <semantic-form new-subject-template='https://enter.museum4punkt0.de/resources/DigitalApp/{{UUID}}'
        post-action='redirect' browser-persistence=false form-id='DigitalApp' fields="[[fieldDefinitions]]">

        <bs-tabs fixed-key="form">

 <bs-tab event-key="4" title="Entwicklung">

                <semantic-form-composite-input for=""
                    new-subject-template="https://enter.museum4punkt0.de/resources/E65_Creation/{{UUID}}"
                    fields="[[fieldDefinitions]]">
                    <h3>Entwicklungsschritte</h3>
                    <p>Beschreiben Sie hier alles, was im Kontext der Entwicklung der digitalen Anwendung relevant war.
                        Die unterschiedlichen Entwicklungsschritte jeder für sich beschreiben,
                        unterschieden anhand der jeweils genutzen Methoden und/oder der übergeordneten
                        Entwicklungsphasen. Wie granular die Entwicklung der Anwendung beschrieben wird liegt im
                        Ermessen des Erfassenden.
                    </p>
                    <semantic-form-text-input for="">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="" multiline=true>
                    </semantic-form-text-input>



                </semantic-form-composite-input>

            </bs-tab>
            <semantic-form-errors></semantic-form-errors>
            <semantic-form-recover-notification></semantic-form-recover-notification>
            <button name="submit" class="btn btn-default">Save</button>
            <button name="reset" class="btn btn-default">Reset</button>
        </bs-tabs>
    </semantic-form>
</bs-panel>
            