
 <bs-panel>
    <semantic-form new-subject-template='https://enter.museum4punkt0.de/resource/{{UUID}}'
        post-action='redirect'
        browser-persistence=true
        form-id='projectcontext2'
        fields='[[ fieldDefinitions alias1="http://www.researchspace.org/instances/fields/projectTitle" alias2="http://www.researchspace.org/instances/fields/funder/"]]'>       
          
          <semantic-form-text-input for="alias1"></semantic-form-text-input>       

    <semantic-form-composite-input for="alias2" new-subject-template="http://www.researchspace.org/instances/fields/funder/{{id}}" fields='[[fieldDefinitions alias3="http://www.researchspace.org/instances/fields/nameOrg" alias4="http://www.researchspace.org/instances/fields/nameOrg"]]'>
         
          <semantic-form-text-input for="alias3"></semantic-form-text-input>
            <semantic-form-text-input for="alias4"></semantic-form-text-input>           
</semantic-form-composite-input>  

          <semantic-form-errors></semantic-form-errors>
          <!-- save and reset button for form -->
          <button name="submit" class="btn btn-default">Save</button>
          <button name="reset" class="btn btn-default">Reset</button>
          
    </semantic-form> 
</bs-panel> 