<ol class="page-breadcrumb">
        <li>
          <mp-link title="Home" url="/">Home</mp-link>
        </li>
        <li class="active">
          <mp-label iri='[[this]]'></mp-label>
        </li>
      </ol>
      

<div class="page rs-page">
  <div class="page__header-navtabs">
    [[> rsp:Header fc=fc fcLabel=fcLabel]]
  </div>


       [[#if (urlParam "tab")]]
  <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="[[urlParam 'tab']]">
    [[else]]
    <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="summary">
      [[/if]]
      
            <div>
              <bs-nav bs-style="tabs">
               <bs-nav-item event-key="summary">Summary</bs-nav-item>
                <bs-nav-item event-key="annotations">
                 HEY <semantic-context repository='assets'>
                      <semantic-query query="SELECT ?s ?title WHERE {?s <https://www.museum4punkt0.de/catalogue/ontology/digitalAppTitle> ?title }"
                    template='{{#each bindings}}<span class="badge">{{s.value}}</span>{{/each}}'>
                
                </semantic-query></semantic-context>
                </bs-nav-item>
                
              </bs-nav>
      
                </div>
          </bs-tab-container>
     

</div>

      
