

<bs-panel>
    <h1>begeleitende Forschung</h1>
    <p>Beschreiben Sie hier alles zur Beforschung und Untersuchung der digitalen Anwendung.</p>
    <semantic-form new-subject-template='https://enter.museum4punkt0.de/resources/ResearchActivity/{{UUID}}'
        post-action='redirect' browser-persistence=false form-id='Research' fields="[[fieldDefinitions
        researched='http://www.metaphacts.com/fieldDefinition/researched'
        descriptionOfResearchAim=''
        hasGeneratedTool=''
        P70i_is_documented_in='http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in'
        ]]">

        <semantic-form-autocomplete-input for="researched">
        </semantic-form-autocomplete-input>
        <semantic-form-text-input for="descriptionOfResearchAim" multiline=true>
        </semantic-form-text-input>
        <h2>entstandene Hilfsmittel</h2>
        <p>Im Rahmen von Testings, Befragungen oder Beobachtungen enstehen häufig Vorlagen wie z.B. Frage- oder
            Beobachtungsbögen. Geben Sie hier an welche Hilfsmittel während der begleitenden Forschung der digitalen
            Anwednung entstanden sind.</p>
        <semantic-form-composite-input for="hasGeneratedTool" new-subject-template="https://enter.museum4punkt0.de/resources/Tool/{{toolTitle}" fields="[[fieldDefinitions 
        toolTitle='http://www.metaphacts.com/fieldDefinition/toolTitle'
        hasToolType='http://www.metaphacts.com/fieldDefinition/hasToolType'
        P70i_is_documented_in='http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in'
        ]]">
                <semantic-form-text-input for="toolTitle">
                </semantic-form-text-input>

                <semantic-form-tree-picker-input for="hasToolType">
                    <semantic-form
                        new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}" fields="[[fieldDefinitions
                    inSchemeToolType='http://www.metaphacts.com/fieldDefinition/inSchemeToolType'    
                    prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                    altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                    broaderToolType='http://www.metaphacts.com/fieldDefinition/broaderToolType'                  
                        ]]">
            <semantic-form-hidden-input for="inSchemeToolType" default-value='skos:Concept'>
            </semantic-form-hidden-input>
            <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
            </semantic-form-text-input>
            <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
            </semantic-form-text-input>
            <semantic-form-tree-picker-input for="broaderToolType"></semantic-form-tree-picker-input>

            <semantic-form-errors></semantic-form-errors>
            <button name='submit' class='btn btn-default'>Create</button>
            <button name='reset' class='btn btn-default'>Reset</button>
    </semantic-form>
    </semantic-form-tree-picker-input>

    <semantic-form-composite-input for="P70i_is_documented_in"
        new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}"
        fields="[[fieldDefinitions]]">
        <h4>Quelle des Hilfsmittels</h4>
        <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/bibliographicCitation" multiline=true>
        </semantic-form-text-input>
        <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
        </semantic-form-text-input>
        <!--
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/license">
                </semantic-form-text-input>
                -->
    </semantic-form-composite-input>

    </semantic-form-composite-input>
    <h2>Erkenntnisse</h2>
    <p>geben Sie hier an welche Publikationen sind aus der begleitenden Forschung hervorgegangen sind</p>
    <semantic-form-composite-input for="P70i_is_documented_in"
        new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}" fields="[[fieldDefinitions
                    url='http://www.metaphacts.com/fieldDefinition/url'
                    bibliographicCitation='http://www.metaphacts.com/fieldDefinition/bibliographicCitation'
                    ]]">
        <h4>Quelle des Dokuments</h4>
        <semantic-form-text-input for="bibliographicCitation" multiline=true></semantic-form-text-input>
        <semantic-form-text-input for="url">
        </semantic-form-text-input>
        <!--
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/license">
                    </semantic-form-text-input>
                    -->
    </semantic-form-composite-input>


    <h2>Untersuchungssetting</h2>
    <p> Die unterschiedlichen Testsituationen bzw. Untersuchungseinheiten sind jeder für sich zu beschreiben.
        Unterschieden werden die einzelnen Schritte anhand der jeweils genutzen Methoden und der unterschiedlichen
        Testorte/-anlässe.
    </p>

    <semantic-form-composite-input for="fallsWithinResearchActivity"
        new-subject-template="https://enter.museum4punkt0.de/resources/ResearchActivity/{{UUID}}" fields="[[fieldDefinitions
            hasResearchMethod=''
            hasExperimenteeType=''
            eventTitle=''
            P12_occurred_in_the_presence_of=''
            descriptionOfResearchSetting=''
            beginDate='http://www.metaphacts.com/fieldDefinition/beginDate'
            endDate='http://www.metaphacts.com/fieldDefinition/endDate'
            usedHardware='http://www.metaphacts.com/fieldDefinition/usedHardware'
            usedSoftware='http://www.metaphacts.com/fieldDefinition/usedSoftware'
            usedTool='http://www.metaphacts.com/fieldDefinition/usedTool'
            ]]">
        <semantic-form-tree-picker-input for="hasResearchMethod">
            <semantic-form new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}" fields="[[fieldDefinitions
                        inSchemeResearchMethod='http://www.metaphacts.com/fieldDefinition/inSchemeResearchMethod'    
                        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                        altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                        broaderResearchMethod='http://www.metaphacts.com/fieldDefinition/broaderResearchMethod'                
                            ]]">
                <semantic-form-hidden-input for="inSchemeResearchMethod" default-value='skos:Concept'>
                </semantic-form-hidden-input>
                <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                </semantic-form-text-input>
                <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                </semantic-form-text-input>
                <semantic-form-tree-picker-input for="broaderResearchMethod"></semantic-form-tree-picker-input>

                <semantic-form-errors></semantic-form-errors>
                <button name='submit' class='btn btn-default'>Create</button>
                <button name='reset' class='btn btn-default'>Reset</button>
            </semantic-form>
        </semantic-form-tree-picker-input>

        <semantic-form-tree-picker-input for="hasExperimenteeType">
            <semantic-form new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}" fields="[[fieldDefinitions
                    inSchemehasExperimenteeType='http://www.metaphacts.com/fieldDefinition/inSchemeCreationMethod'    
                    prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                    altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                        ]]">
                <semantic-form-hidden-input for="inSchemehasExperimenteeType" default-value='skos:Concept'>
                </semantic-form-hidden-input>
                <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                </semantic-form-text-input>
                <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                </semantic-form-text-input>

                <semantic-form-errors></semantic-form-errors>
                <button name='submit' class='btn btn-default'>Create</button>
                <button name='reset' class='btn btn-default'>Reset</button>
            </semantic-form>
        </semantic-form-tree-picker-input>

        <semantic-form-text-input for="eventTitle"></semantic-form-text-input>

        <semantic-form-autocomplete-input for="P12_occurred_in_the_presence_of">
            <semantic-form new-subject-template="https://enter.museum4punkt0.de/resources/E74_Group/{{XXX}}" fields="[[fieldDefinitions
               orgName=''
               P74_has_current_or_former_residence=''
               ]]">
                <semantic-form-text-input for="orgName"></semantic-form-text-input>
                <!--
                   Hierfür den Geonames Datensatz hinterlegen! Nein, das ist doof. Besser wäre es, die API anzusprechen damit der 16GB Datensatz nich tgespeichert werden muss.
                    Aber wie baut man die Query hier ein? Siehe Hilfe: https://enter.museum4punkt0.de/resource/Help:WorkingWithData
               
                <semantic-form-tree-picker-input for="P74_has_current_or_former_residence">
                </semantic-form-tree-picker-input>
-->
                <semantic-form-errors></semantic-form-errors>
                <button name='submit' class='btn btn-default'>Create</button>
                <button name='reset' class='btn btn-default'>Reset</button>
            </semantic-form>
        </semantic-form-autocomplete-input>

        <semantic-form-text-input for="descriptionOfResearchSetting" multiline="true"></semantic-form-text-input>

        <h3>Untersuchungszeitraum</h3>
        <p>Wann fand die Untersuchung statt?</p>
        <semantic-form-datetime-input for="beginDate"></semantic-form-datetime-input>
        <semantic-form-datetime-input for="endDate"></semantic-form-datetime-input>

        <h3>genutzte Tools - Hardware, Software und Hilfsmittel</h3>
        <p>Geben Sie an, welche Hilfsmittel, Hardware oder Geräte und welche Software für die Untersuchung verwendet wurden.</p>
        <semantic-form-composite-input for="usedHardware"
            new-subject-template="https://enter.museum4punkt0.de/resources/Hardware/{{title}}" fields="[[fieldDefinitions 
toolTitle='http://www.metaphacts.com/fieldDefinition/toolTitle'
modelNr='http://www.metaphacts.com/fieldDefinition/modelNr'
hasToolType='http://www.metaphacts.com/fieldDefinition/hasToolType'
requiredProcessor='http://www.metaphacts.com/fieldDefinition/requiredProcessor'
requiredRAM='http://www.metaphacts.com/fieldDefinition/requiredRAM'
requiredHardDriveSpace='http://www.metaphacts.com/fieldDefinition/requiredHardDriveSpace'
requiredGraphicsCard='http://www.metaphacts.com/fieldDefinition/requiredGraphicsCard'
]]">
            <semantic-form-text-input for="toolTitle">
            </semantic-form-text-input>
            <semantic-form-text-input for="modelNr">
            </semantic-form-text-input>

            <semantic-form-tree-picker-input for="hasToolType">
                <semantic-form new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}"
                    fields="[[fieldDefinitions
                        inSchemeToolType='http://www.metaphacts.com/fieldDefinition/inSchemeToolType'    
                        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                        altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                        broaderToolType='http://www.metaphacts.com/fieldDefinition/broaderToolType'                  
                            ]]">
                    <!--
                                Hier gibt es im Field Generator einen Fehler: inScheme ist auf CreationMethod gesetzt.
                            -->
                    <semantic-form-hidden-input for="inSchemeToolType" default-value='skos:Concept'>
                    </semantic-form-hidden-input>
                    <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                    </semantic-form-text-input>
                    <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                    </semantic-form-text-input>
                    <semantic-form-tree-picker-input for="broaderToolType"></semantic-form-tree-picker-input>

                    <semantic-form-errors></semantic-form-errors>
                    <button name='submit' class='btn btn-default'>Create</button>
                    <button name='reset' class='btn btn-default'>Reset</button>
                </semantic-form>
            </semantic-form-tree-picker-input>

            <h4>Mindestanforderungen</h4>
            <semantic-form-text-input for="requiredProcessor">
            </semantic-form-text-input>
            <semantic-form-text-input for="requiredRAM">
            </semantic-form-text-input>
            <semantic-form-text-input for="requiredHardDriveSpace">
            </semantic-form-text-input>
            <semantic-form-text-input for="requiredGraphicsCard">
            </semantic-form-text-input>



        </semantic-form-composite-input>

        <semantic-form-composite-input for="usedSoftware"
            new-subject-template="https://enter.museum4punkt0.de/resources/Software/{{toolTitle}}" fields="[[fieldDefinitions 
            toolTitle='http://www.metaphacts.com/fieldDefinition/toolTitle'
            version='http://www.metaphacts.com/fieldDefinition/version'
            hasSoftwareType='http://www.metaphacts.com/fieldDefinition/hasSoftwareType'
            P70i_is_documented_in='http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in'
            ]]">
            <semantic-form-text-input for="toolTitle">
            </semantic-form-text-input>
            <semantic-form-text-input for="version">
            </semantic-form-text-input>
            <semantic-form-select-input for="hasSoftwareType">
            </semantic-form-select-input>
            <semantic-form-composite-input for="P70i_is_documented_in"
                new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}"
                fields="[[fieldDefinitions]]">
                <h4>Quelle der Software</h4>
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
                </semantic-form-text-input>
                <!--
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/license">
                    </semantic-form-text-input>
                    -->
            </semantic-form-composite-input>


        </semantic-form-composite-input>

        <semantic-form-composite-input for="usedTool" new-subject-template="https://enter.museum4punkt0.de/resources/Tool/{{toolTitle}" fields="[[fieldDefinitions 
            toolTitle='http://www.metaphacts.com/fieldDefinition/toolTitle'
            hasToolType='http://www.metaphacts.com/fieldDefinition/hasToolType'
            P70i_is_documented_in='http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in'
            ]]">

                    <semantic-form-text-input for="toolTitle">
                    </semantic-form-text-input>

                    <semantic-form-tree-picker-input for="hasToolType">
                        <semantic-form
                            new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{prefLabel}}" fields="[[fieldDefinitions
                        inSchemeToolType='http://www.metaphacts.com/fieldDefinition/inSchemeToolType'    
                        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                        altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                        broaderToolType='http://www.metaphacts.com/fieldDefinition/broaderToolType'                  
                            ]]">
            <semantic-form-hidden-input for="inSchemeToolType" default-value='skos:Concept'>
            </semantic-form-hidden-input>
            <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
            </semantic-form-text-input>
            <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
            </semantic-form-text-input>
            <semantic-form-tree-picker-input for="broaderToolType"></semantic-form-tree-picker-input>

            <semantic-form-errors></semantic-form-errors>
            <button name='submit' class='btn btn-default'>Create</button>
            <button name='reset' class='btn btn-default'>Reset</button>
            </semantic-form>
            </semantic-form-tree-picker-input>

            <semantic-form-composite-input for="P70i_is_documented_in"
                new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}"
                fields="[[fieldDefinitions]]">
                <h4>Quelle des Hilfsmittels</h4>
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/bibliographicCitation"
                    multiline=true>
                </semantic-form-text-input>
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
                </semantic-form-text-input>
                <!--
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/license">
                    </semantic-form-text-input>
                    -->
            </semantic-form-composite-input>

        </semantic-form-composite-input>



    </semantic-form-composite-input>


    <semantic-form-errors></semantic-form-errors>
    <semantic-form-recover-notification></semantic-form-recover-notification>
    <button name="submit" class="btn btn-default">Save</button>
    <button name="reset" class="btn btn-default">Reset</button>

    </semantic-form>
</bs-panel>