<bs-panel>
    <div class="page">
        <div class='page-body'>

            <h1>Dateneingabe</h1>



            <p>
                Das Ziel von <b>enter.museum4punkt0</b> ist die Erschließung digitaler Anwendungen, die in der musealen
                Vermittlung eingesetzt werden. Um ein umfassendes Bild der Einsatzmöglichkeiten und auch der
                Potenziale zu erhalten, wird die digitale Anwendung aus verschiedenen Blickwinkeln betrachtet. Diese
                Facetten
                ermöglichen neue Perspektiven auf digitale Werkzeuge und ihre Auswirkungen auf Forschung,
                Vermittlung, Betrieb und Entwicklung im Kontext musealer Arbeit.
            </p>


               <div class="panel panel-default">
                <div class="panel-body">
                    <dl>
                        <dd>

                            <h2>Digitale Anwendung</h2>
                            <!--
                                Ist ja ganz nett, aber es klappt nicht. Fehlermeldung: "Something went wrong.Failed to create new LDP resource with suggested slug. Resource12:49. Error: Target resource https://enter.museum4punkt0.de/resources/ is not a container."
                         
                            <mp-ldp-create-new-resource-action
                                container="https://enter.museum4punkt0.de/resources/DigitalApp/container/context"
                                type="https://www.museum4punkt0.de/catalogue/ontology/DigitalApp">
                                <button>Neue digitale Anwendung</button>
                            </mp-ldp-create-new-resource-action>
   -->
                            <div class="text-left">
                                <a class="title" href="/resource/Default:DigitalApp" title="view"
                                    draggable="true">Kerninformationen</a>
                            </div>
                            <div class="text-left">
                                <a class="title" href="/resource/Default:EducationalConcept" title="view"
                                    draggable="true">Vermittlungskonzept</a>
                            </div>
                            <div class="text-left">
                                <a class="title" href="/resource/Default:E65_Creation" title="view"
                                    draggable="true">Entwicklung</a>
                            </div>
                            <div class="text-left">
                                <a class="title" href="/resource/Default:DigitalApp" title="view"
                                    draggable="true">Beforschung</a>
                            </div>

                        </dd>
                    </dl>
                </div>
            </div>
            <!--
            <div class="panel panel-default">
                <div class="panel-body">
                    <dl>
                        <dd>

                            <h2>Tools</h2>

                            <div class="text-left">
                                <a class="title" href="" title="view" draggable="true">Hardware und Geräte</a>
                            </div>
                            <div class="text-left">
                                <a class="title" href="" title="view" draggable="true">Software</a>
                            </div>
                            <div class="text-left">
                                <a class="title" href="" title="view" draggable="true">Hilfsmittel</a>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <dl>
                        <dd>

                            <h2>Projekt</h2>

                            <div class="text-left">
                                <a class="title" href="" title="view" draggable="true">Förderer</a>
                            </div>
                            <div class="text-left">
                                <a class="title" href="" title="view" draggable="true">Institutionen</a>
                            </div>
                            <div class="text-left">
                                <a class="title" href="" title="view" draggable="true">Personen</a>
                            </div>


                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</bs-panel>

<!--
        <div data-flex-layout="row stretch-stretch">
            <div data-flex-layout="column top-stretch">
                <div class="grid-demo">
                    <semantic-link-container uri="https://enter.museum4punkt0.deç">
                        <h2>Geben Sie hier eine neue digitale Anwendung ein</h2>
                        <button class="btn btn-default">digitale Anwendung</button>
                    </semantic-link-container>
                </div>
                <div class="grid-demo" data-flex-self="size-x1" data-flex-layout="column center-center">
                    <semantic-link-container uri="https://enter.museum4punkt0.de/resource/Default:DigitalApp">
                        <h2>Geben Sie hier eine neue Enwtwicklung für eine digitale Anwendung ein</h2>
                        <button class="btn btn-default">Entwicklung</button>
                    </semantic-link-container>
                </div>
            </div>
            <div class="grid-demo" data-flex-layout="column center-center" style="height: 70px;">
                <div class="grid-demo" data-flex-self="size-x1" data-flex-layout="column center-center">
                    <semantic-link-container uri="http://help.metaphacts.com/resource/Start">
                        <h2>Hilfe hilfe</h2>
                        <button class="btn btn-default">HELP!</button>
                    </semantic-link-container>
                </div>
            </div>
        -->
<!--  
        <div class="panel panel-default">
            <div class="panel-body">
                <dl>
                    <dt>Eingabe</dt>
                   
                        <dd>
                            <strong>
                                <a class="title"
                                    href="https://enter.museum4punkt0.de/resource/?uri=https%3A%2F%2Fenter.museum4punkt0.de%2Fresources%2FDigitalApp%2F4c953334-638d-4839-9d35-3631f724332c"
                                    title="view" draggable="true"></a>
                            </strong>
                        </dd>
                        
                </dl>
            </div>
            <div class="text-left">

                <a href="/resource/Default:DigitalApp" title=":newResource" class="btn btn-primary btn-sm"
                    draggable="true">Digitale Anwendung</a>
            </div>
        </div>
-->